<div class="santral-user-page" dir="rtl">
  <app-user-header [vm]="vm"></app-user-header>

  <app-user-toolbar [vm]="vm"></app-user-toolbar>

  <app-user-grid-card [vm]="vm"></app-user-grid-card>
</div>

<app-user-edit-modal [vm]="vm"></app-user-edit-modal>

<app-user-forward-modal [vm]="vm"></app-user-forward-modal>

<app-user-recording-modal [vm]="vm"></app-user-recording-modal>

<app-user-voicemail-modal [vm]="vm"></app-user-voicemail-modal>

<app-user-call-rules-modal [vm]="vm"></app-user-call-rules-modal>