<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex justify-content-between align-items-center">
            <h4 class="page-title">تیکت ارسالی </h4>
            <button class="btn btn-danger" (click)="onBtnCancelClick()">بازگشت</button>

        </div>
    </div>
</div>

<div class="card-body">

    <form [formGroup]="Autletter_data" id="submitForm">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body row">

                        <div class="form-group col-md-3">
                            <label for="LetterDate" class="col-form-label">تارخ</label>
                            <input type="text" class="form-control" id="LetterDate" formControlName="LetterDate"
                                maxlength="100" readonly />
                        </div>

                        <!-- 
                        <div class="form-group col-md-3">
                            <label for="LetterState" class="col-form-label">وضعیت</label>
                            <input type="text" class="form-control" id="LetterState" formControlName="LetterState"
                                maxlength="100" readonly />
                        </div> -->

                        <div class="form-group col-md-3">
                            <label for="LetterPriority" class="col-form-label">الویت</label>
                            <input type="text" class="form-control" id="LetterPriority" formControlName="LetterPriority"
                                maxlength="100" readonly />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="CreatorName" class="col-form-label">ایجاد کننده</label>
                            <input type="text" class="form-control" id="CreatorName" formControlName="CreatorName"
                                maxlength="100" readonly />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ExecutorName" class="col-form-label">انجام دهنده</label>
                            <input type="text" class="form-control" id="ExecutorName" formControlName="ExecutorName"
                                maxlength="100" readonly />
                        </div>


                        <div class="form-group col-md-3">
                            <label for="LetterTitle" class="col-form-label">عنوان</label>
                            <input type="text" class="form-control" id="LetterTitle" formControlName="LetterTitle"
                                maxlength="100" readonly />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="LetterDescription" class="col-form-label">شرح</label>
                            <input type="text" class="form-control" id="LetterDescription"
                                formControlName="LetterDescription" readonly />


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </form>




    <ul class="nav nav-pills navtab-bg nav-justified">


        <ng-container *ngIf="JobPersonRef.length>0">

            <li class="nav-item">
                <a href="#detail" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                    <span class="d-inline-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
                    <span class="d-none d-sm-inline-block">روند ارحاع تیکت</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#chat" data-bs-toggle="tab" aria-expanded="false" class="nav-link ">
                    <span class="d-inline-block d-sm-none"><i class="mdi mdi-email-variant"></i></span>
                    <span class="d-none d-sm-inline-block">مکاتبات </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#attach" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                    <span class="d-inline-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
                    <span class="d-none d-sm-inline-block">پیوست</span>
                </a>
            </li>

        </ng-container>
        <ng-container *ngIf="JobPersonRef.length==0">
            <li class="nav-item">
                <a href="#chat" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                    <span class="d-inline-block d-sm-none"><i class="mdi mdi-email-variant"></i></span>
                    <span class="d-none d-sm-inline-block">مکاتبات </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#attach" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                    <span class="d-inline-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
                    <span class="d-none d-sm-inline-block">پیوست</span>
                </a>
            </li>


        </ng-container>
    </ul>

    <div class="tab-content">


        <ng-container *ngIf="JobPersonRef.length>0">

            <div class="tab-pane " id="chat">
                <app-autletter-chat [TextData]="id"></app-autletter-chat>
            </div>
            <div class="tab-pane active" id="detail">
                <app-autletter-item [TextData]="id"></app-autletter-item>
            </div>
            <div class="tab-pane " id="attach">
                <app-autletter-attach [TextData]="id"></app-autletter-attach>
            </div>
        </ng-container>

        <ng-container *ngIf="JobPersonRef.length==0">

            <div class="tab-pane active" id="chat">
                <app-autletter-chat [TextData]="id"></app-autletter-chat>
            </div>
            <div class="tab-pane" id="detail">
                <app-autletter-item [TextData]="id"></app-autletter-item>
            </div>
            <div class="tab-pane" id="attach">
                <app-autletter-attach [TextData]="id"></app-autletter-attach>
            </div>
        </ng-container>





    </div>
</div>