<div class="card-body">
  <div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ title }}</h4>
          <div class="row mb-3">
            <form [formGroup]="EditForm_Factor_Header" (ngSubmit)="Factor_Header_insert()" id="submitForm">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body row">

                      <div class="form-group col-md-4">
                        <label for="FactorDate" class="col-form-label"> تاریخ فاکتور </label>
                        <input type="text" class="form-control" id="FactorDate" formControlName="FactorDate"
                          maxlength="100" autocomplete="off" readonly />
                      </div>

                      <div class=" form-group col-md-4">
                        <label for="CustomerCode" class="col-form-label">کد مشتری </label>

                        <ng-container *ngIf="FactorCode.length>0">

                          <input type="text" class="form-control" id="CustomerCode" formControlName="CustomerCode"
                            placeholder="نمایش مشتریان" maxlength="100" autocomplete="off" readonly />

                        </ng-container>

                        <ng-container *ngIf="FactorCode.length==0">
                          <label for="Nvarchar20" class="col-form-label " style="color: #767de0;"> (انتخابی) </label>





                          <input type="text" class="form-control" id="CustomerCode" (click)="GetCustomer()"
                            placeholder="نمایش مشتریان" formControlName="CustomerCode" maxlength="100"
                            autocomplete="off" readonly [ngClass]="{
                              'is-invalid':
                              EditForm_Factor_Header.controls['CustomerCode'].invalid &&
                              EditForm_Factor_Header.controls['CustomerCode'].touched,
                              'is-valid':
                              EditForm_Factor_Header.controls['CustomerCode'].valid &&
                              EditForm_Factor_Header.controls['CustomerCode'].touched
                            }" />
                          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                              validation: 'required',
                              message: 'اجباری است',
                              control: EditForm_Factor_Header.controls['CustomerCode']
                            }"></ng-container>

                        </ng-container>

                      </div>

                      <div class="form-group col-md-4">
                        <label for="BrokerName" class="col-form-label">نام پشتیبان</label>
                        <input type="text" class="form-control" id="BrokerName" formControlName="BrokerName"
                          maxlength="100" autocomplete="off" readonly />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="CustName" class="col-form-label">نام مشتری</label>
                        <input type="text" class="form-control" id="CustName" formControlName="CustName" maxlength="100"
                          autocomplete="off" readonly />
                      </div>


                      <ng-container *ngIf="FactorCode.length==0">
                        <div class="form-group col-md-8">
                          <label for="Explain" class="col-form-label">توضیحات</label>
                          <input type="text" class="form-control" id="Explain" formControlName="Explain" maxlength="100"
                            autocomplete="off" />
                        </div>
                      </ng-container>

                      <ng-container *ngIf="FactorCode.length>0">
                        <div class="form-group col-md-8">
                          <label for="Explain" class="col-form-label">توضیحات</label>
                          <input type="text" class="form-control" id="Explain" formControlName="Explain" maxlength="100"
                            autocomplete="off" readonly />
                        </div>
                      </ng-container>





                      <ng-container *ngIf="FactorCode.length>0">
                        <form [formGroup]="EditForm_supportfactor_property" id="submitForm">
                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-body row">




                                  <ng-container *ngIf="Start_FactorTime.length>1">
                                    <div class="form-group col-md-3">
                                      <label for="starttime" class="col-form-label">شروع</label>
                                      <input type="text" class="form-control" id="starttime" formControlName="starttime"
                                        maxlength="100" autocomplete="off" readonly />
                                    </div>

                                    <div class="form-group col-md-3">
                                      <label for="Endtime" class="col-form-label">پایان</label>
                                      <input type="text" class="form-control" id="Endtime" formControlName="Endtime"
                                        maxlength="100" autocomplete="off" readonly />
                                    </div>

                                    <div class="form-group col-md-3">
                                      <label for="worktime" class="col-form-label">مدت </label>
                                      <input type="text" class="form-control" id="worktime" formControlName="worktime"
                                        maxlength="100" autocomplete="off" readonly />
                                    </div>


                                    <div class="form-group col-md-9">
                                      <label for="Barbary" class="col-form-label">شرح</label>
                                      <input type="text" class="form-control" id="Barbary" formControlName="Barbary"
                                        maxlength="400" autocomplete="off" readonly />
                                    </div>

                                    <div class="form-group col-md-3">
                                      <label for="Barbary" class="col-form-label">.</label>

                                      <a type="button" class="form-control btn btn-primary waves-effect waves-light "
                                        (click)="factor_property_dialog_show()">
                                        <span class="btn-label"><i class="fas fa-file-alt"></i>
                                        </span>اصلاح</a>
                                    </div>

                                  </ng-container>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </ng-container>

                      <div class="row">
                        <div class="col-sm-12">


                          <ng-container *ngIf="FactorCode.length>0">
                            <ng-container *ngIf="Start_FactorTime.length>1">
                              <ng-container *ngIf="End_FactorTime.length==0">
                                <a (click)="Set_EndFactorTime()" type="button"
                                  class="btn btn-purple waves-effect waves-light m-1">
                                  <span class=" btn-label"><i class="fas fa-arrow"></i></span>پایان کار
                                </a>
                              </ng-container>
                            </ng-container>


                            <a type="button" class="btn btn-success waves-effect waves-light " (click)="NewFactor()">
                              <span class="btn-label"><i class="fas fa-plus"></i>
                              </span>ایجاد فاکتور جدید
                            </a>
                          </ng-container>

                          <ng-container *ngIf="FactorCode.length==0">
                            <a type="button" class="btn btn-success waves-effect waves-light "
                              (click)="Factor_Header_insert()">
                              <span class="btn-label"><i class="fas fa-plus"></i>
                              </span>ثبت فاکتور </a>
                          </ng-container>
                          <ng-container *ngIf="FactorCode.length>0">
                            <a (click)="deleteFactor()" type="button"
                              class="btn btn-danger waves-effect waves-light m-1">
                              <span class=" btn-label"><i class="fas fa-trash"></i></span>حذف فاکتور
                            </a>
                          </ng-container>
                          <ng-container *ngIf="FactorCode.length>0">
                            <a (click)="GoBack()" type="button" class="btn btn-info waves-effect waves-light m-1">
                              <span class=" btn-label"><i class="fas fa-arrow"></i></span>بازگشت
                            </a>
                          </ng-container>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </form>



          </div>


          <ng-container *ngIf="FactorCode.length>0">

            <div class="col-sm-12 row">
              <ng-container *ngIf="ShowGoodList">
                <div class="col-sm-6">

                  <div class="row">
                    <h4 class="card-title col-sm-6">لیست کالاها</h4>
                    <a type="button" class="btn btn-soft-danger rounded-pill waves-effect waves-light col-sm-3 m-1"
                      (click)="taggelShowGoodList()">
                      بستن کالاها
                    </a>
                  </div>



                  <input cFormControl type="text" class="form-control my-1" placeholder="جستجو..." type="text"
                    [(ngModel)]="Searchtarget_Good" (ngModelChange)="onInputChange_Good()"
                    [ngModelOptions]="{ standalone: true }" />
                  <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: auto"
                    [rowData]="records_support_good" [columnDefs]="columnDefs" [modules]="modules"
                    [localeText]="localeText" [enableRtl]="true" (gridReady)="onGridReady($event)"
                    (cellClicked)="onCellClicked($event)" [pagination]="true"
                    [frameworkComponents]="frameworkComponents" [context]="context" class="ag-theme-alpine"
                    [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
                    (selectionChanged)="onSelectionChanged($event)">
                  </ag-grid-angular>
                </div>
              </ng-container>
              <div class="col-sm-6">
                <div class="row">
                  <h4 class="card-title col-sm-6">لیست اقلام فاکتور شده</h4>



                  <ng-container *ngIf="!ShowGoodList">
                    <a type="button" class="btn btn-soft-info rounded-pill waves-effect waves-light col-sm-3 m-1"
                      (click)="taggelShowGoodList()">
                      اضافه کردن
                    </a>
                  </ng-container>


                </div>
                <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: auto"
                  [rowData]="records_support_factorrows" [columnDefs]="columnDefs2" [modules]="modules"
                  [localeText]="localeText" [enableRtl]="true" (gridReady)="onGridReady($event)"
                  (cellClicked)="onCellClicked($event)" [pagination]="true" [context]="context" class="ag-theme-alpine"
                  [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents"
                  [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
                  (selectionChanged)="onSelectionChanged($event)">
                </ag-grid-angular>
              </div>

            </div>
          </ng-container>

        </div>
      </div>

    </div>

  </div>
</div>




<div class="modal fade" id="customerlist" tabindex="-1" aria-labelledby="customerlistLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="customerlistLabel">لیست مشتریان</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="customer_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-sm-12">
            <div class="form-group">
              <input #modalsearch type="text" class="form-control" placeholder="جستجو..."
                [(ngModel)]="Searchtarget_customer" (ngModelChange)="onInputChange_Customer()"
                [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
        </div>

        <div *ngIf="loading" class="text-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <ag-grid-angular #agGrid id="myGrid" style="height: 400px; width: auto" [rowData]="records_support_customer"
          [columnDefs]="columnDefs3" [modules]="modules" [localeText]="localeText" [defaultColDef]="defaultColDef"
          [enableRtl]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"
          [frameworkComponents]="frameworkComponents" [context]="context" class="ag-theme-alpine"
          [suppressRowClickSelection]="true" [rowSelection]="'single'" (selectionChanged)="onSelectionChanged($event)">
        </ag-grid-angular>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="customer_dialog_close()">بستن</button>
        <button type="button" class="btn btn-primary" (click)="Set_Customer()">انتخاب</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="factorcustomerproperty" tabindex="-1" aria-labelledby="factorcustomerpropertyLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #e7d1d6;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="factorcustomerpropertyLabel">جزئیات</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="property_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="Customer_property" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">

                  <div class="form-group col-md-12">
                    <label for="AppNumber" class="col-form-label">نسخه نرم افزار </label>
                    <input type="text" class="form-control" id="AppNumber" formControlName="AppNumber" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="DatabaseNumber" class="col-form-label">دیتابیس </label>
                    <input type="text" class="form-control" id="DatabaseNumber" formControlName="DatabaseNumber"
                      maxlength="100" autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="LockNumber" class="col-form-label">تعداد قفل </label>
                    <input type="text" class="form-control" id="LockNumber" formControlName="LockNumber" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="Address" class="col-form-label">آدرس </label>
                    <input type="text" class="form-control" id="Address" formControlName="Address" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="CityName" class="col-form-label">شهر </label>
                    <input type="text" class="form-control" id="CityName" formControlName="CityName" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="OstanName" class="col-form-label">استان </label>
                    <input type="text" class="form-control" id="OstanName" formControlName="OstanName" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="property_dialog_close()">بستن</button>

      </div>
    </div>
  </div>
</div>



<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container invalid-feedback">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>





<div class="modal fade" id="factorproperty" tabindex="-1" aria-labelledby="factorpropertyLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="factorpropertyLabel">خصوصیت اضافه</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="factor_property_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_supportfactor_property" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">


                  <div class="form-group col-md-12">
                    <label for="Barbary" class="col-form-label">شرح</label>
                    <input type="text" class="form-control" id="Barbary" formControlName="Barbary" maxlength="100"
                      autocomplete="off" />
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="factor_property_dialog_close()">بستن</button>
        <button type="button" class="btn btn-primary" (click)="Set_ExplianFactorTime()">بروزرسانی</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="boxbuymodal" tabindex="-1" aria-labelledby="boxbuymodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="boxbuymodalLabel">تعداد و قیمت کالا</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="boxbuy_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_Factor_Row" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">


                  <div class="form-group col-md-12">
                    <label for="GoodName" class="col-form-label">نام کالا</label>
                    <input type="text" class="form-control" id="GoodName" formControlName="GoodName" maxlength="100"
                      autocomplete="off" readonly />
                  </div>



                  <div class="form-group col-md-12">
                    <label for="maxsellprice" class="col-form-label">حداکثر قیمت </label>
                    <input type="number" class="form-control" id="maxsellprice" formControlName="maxsellprice"
                      maxlength="100" readonly />
                  </div>




                  <div class="form-group col-md-12">
                    <label for="Amount" class="col-form-label">تعداد</label>
                    <input type="number" class="form-control" id="Amount" formControlName="Amount" maxlength="100"
                      autocomplete="off" (keyup)="cal_totalprice()" />
                  </div>



                  <div class="form-group col-md-12">
                    <label for="takhfif" class="col-form-label">درصد تخفیف</label>
                    <input type="number" class="form-control" id="takhfif" formControlName="takhfif" maxlength="100"
                      autocomplete="off" (keyup)="discountInput.next()" />
                  </div>




                  <div class="form-group col-md-12">
                    <label for="Price" class="col-form-label">فی</label>
                    <input type="number" class="form-control" id="Price" formControlName="Price" maxlength="100"
                      autocomplete="off" (keyup)="priceInput.next()" />
                  </div>





                  <div class="form-group col-md-12">
                    <label for="totalprice" class="col-form-label">مبلغ کل</label>
                    <input type="number" class="form-control" id="totalprice" formControlName="totalprice"
                      maxlength="100" autocomplete="off" readonly />
                  </div>



                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="boxbuy_dialog_close()">بستن</button>
        <button type="button" class="btn btn-primary" (click)="insert_FactorRows()">تایید</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="loadingresponse" tabindex="-1" aria-labelledby="loadingresponseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7; border-radius: 10px; border: none;">
      <div class="modal-body d-flex justify-content-center align-items-center" style="height: 150px;">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="ms-3">لطفا منتظر بمانید</div>
      </div>
    </div>
  </div>
</div>