<div class="card-body">
  <div class="tab-content">

    <div class="tab-pane fade show active" role="tabpanel">

      <div class="card">
        <div class="card-body">


          <form [formGroup]="EditForm_factor" (ngSubmit)="submit('')" id="submitForm">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body row">


                    <div class="form-group col-md-12">
                      <label for="SearchTarget" class="col-form-label">جستجو </label>

                      <input type="text" class="form-control" id="SearchTarget" formControlName="SearchTarget"
                        maxlength="100" autocomplete="off" />
                    </div>


                    <div class="form-group col-md-5">
                      <label for="datePicker" class="col-form-label">ابتدای تاریخ</label>
                      <div>
                        <ng-persian-datepicker [uiHideAfterSelectDate]="true">
                          <input class="form-control" id="datePicker" type="text" formControlName="StartDateTarget" />
                        </ng-persian-datepicker>
                      </div>

                    </div>


                    <div class="form-group col-md-5">
                      <label for="datePicker" class="col-form-label">ابتدای تاریخ</label>
                      <div>
                        <ng-persian-datepicker [uiHideAfterSelectDate]="true">
                          <input class="form-control" id="datePicker" type="text" formControlName="EndDateTarget" />
                        </ng-persian-datepicker>
                      </div>

                    </div>





                  </div>
                </div>
              </div>
            </div>
          </form>



        </div>

        <div class="row mb-2">
          <div class="col-sm-12">


            <a type="button" class="btn btn-success waves-effect waves-light m-1"
              [routerLink]="['/accounting/prefactor-edit']">
              <span class="btn-label"><i class="fas fa-plus"></i></span>جدید
            </a>

            <a type="button" class="btn btn-primary waves-effect waves-light m-1" (click)="GetData()">
              <span class="btn-label"><i class="fas fa-search"></i></span>جستجو
            </a>

            <!-- <a type="button" class="btn btn-light waves-effect waves-light m-1" (click)="ClearFilter()">
              <span class="btn-label"><i class="fas fa-sync me-1"></i></span>بازخوانی
            </a> -->


          </div>


        </div>


        <!-- Show loading indicator when data is being fetched -->
        @if (loading()) {
        <div class="text-center">
          <span class="loader"></span>
        </div>
        }



        <div class="ag-container rounded-3 border shadow-sm overflow-hidden" style="height: 600px;">
          <ag-grid-angular [class]="themeClass + ' w-100 h-100'" [gridOptions]="gridOptions"
            [columnDefs]="column_name_1" (firstDataRendered)="onFirstDataRendered($event)" [rowData]="records()"
            (gridReady)="onGridReady($event, 1)" (stateChanged)="onGridStateChanged()"
            (filterChanged)="onGridStateChanged()" (sortChanged)="onGridStateChanged()"
            (columnMoved)="onGridStateChanged()">
          </ag-grid-angular>

        </div>


      </div>
    </div>


  </div>

</div>