<div class="card-body">
  <h4 class="header-title mb-4"> ویرایش کالا</h4>


  <div class="tab-content">



    <div class="tab-pane active" id="GoodBase">


      <form [formGroup]="EditForm_Base" (ngSubmit)="submit('')" id="submitForm">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body row">



                <div class="row col-md-12">


                  <div class="form-group col-md-3">
                    <label for="GoodCode" class="col-form-label">کد سیستمی کالا </label>
                    <input type="text" class="form-control" id="GoodCode" formControlName="GoodCode" maxlength="100"
                      autocomplete="off" [readOnly]="true" />
                    </div>



                  </div>


                  <div class="form-group col-md-12">
                    <label for="GoodName" class="col-form-label">نام کالا </label>
                    <span class="text-danger">*</span>

                    <input type="text" class="form-control" id="GoodName" formControlName="GoodName" maxlength="400"
                    autocomplete="off" (keyup)="onKeyUp($event)" [ngClass]="{
                      'is-invalid':
                      EditForm_Base.controls['GoodName'].invalid &&
                      EditForm_Base.controls['GoodName'].touched,
                      'is-valid':
                      EditForm_Base.controls['GoodName'].valid &&
                      EditForm_Base.controls['GoodName'].touched
                    }" />
                  <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                              validation: 'required',
                                              message: 'اجباری است',
                                              control: EditForm_Base.controls['GoodName']
                                            }">
                      </ng-container>

                      @if (simillar_good.length > 0) {
                        <table class="table table-bordered table-hover">
                          <thead class="table-light">
                            <tr>
                              <th>نوع</th>
                              <th>نام</th>
                              <th>فی خالص</th>
                              <th>فی ناخالص</th>
                              <th>عملیات</th>
                            </tr>
                          </thead>
                          <tbody>
                            @for (single_object of simillar_good; track single_object) {
                              <tr>
                                <td>{{ single_object.GoodType }}</td>
                                <td>
                                  {{ single_object.GoodName.length > 20 ? (single_object.GoodName | slice:0:30) + '...' :
                                  single_object.GoodName }}
                                </td>
                                <td>{{ single_object.MinSellPrice }}</td>
                                <td>{{ single_object.MaxSellPrice }}</td>
                                <td>
                                  <button class="btn btn-primary btn-sm"
                                  (click)="selectSuggestion(single_object)">انتخاب</button>
                                  <button class="btn btn-secondary btn-sm"
                                  (click)="GotoSuggestion(single_object)">بازخوانی</button>
                                </td>
                              </tr>
                            }
                          </tbody>
                        </table>
                      }


                    </div>


                  </div>
                </div>
              </div>
            </div>
          </form>
          @if (changedValues_show()) {
            <div class="card">
              <div class="card-body">
                <div class="col-sm-12">
                  <a href="javascript:void(0)" type="button" class="btn btn-success waves-effect waves-light mx-1"
                    (click)="submit('base')">
                    <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره
                  </a>
                  <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mx-1"
                    (click)="changedValues_cansel_base()">
                    <span class="btn-label"><i class="fas fa-times"></i></span>انصراف
                  </a>
                </div>
              </div>
            </div>
          }



        </div>



        <ng-template #formError let-control="control" let-message="message" let-validation="validation">
          @if (control.hasError(validation) && (control.dirty || control.touched)) {
            <div class="fv-plugins-message-container invalid-feedback">
              <span role="alert">
                {{ message }}
              </span>
            </div>
          }
        </ng-template>