<div class="card">
  <div class="card-body">

    <form [formGroup]="EditForm_SearchTarget">
      <div class="row g-2 mb-3">
        <div class="col-md-6">
          <input type="text" class="form-control rounded-pill" placeholder="جستجو (نام/کدملی)"
            formControlName="SearchTarget" (input)="onSearchChange()" />
        </div>

        <div class="col-md-6 text-start">
          <button class="btn btn-success me-1" (click)="getList()">
            <i class="fas fa-sync"></i> بازخوانی
          </button>
          <button class="btn btn-success me-1" (click)="NavigateToEdit('0')">
            <i class="fas fa-sync"></i> کارمند جدید
          </button>
        </div>
      </div>
    </form>


    <!-- گرید اصلی -->
    <div class="ag-container rounded-3 border shadow-sm overflow-hidden" style="height: 600px;">
      <ag-grid-angular [enableBrowserTooltips]="true" [tooltipShowDelay]="200" [tooltipHideDelay]="800"
        [columnDefs]="column_name_1" [rowData]="records()" [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event, 1)" (firstDataRendered)="gridApi1?.sizeColumnsToFit()"
        [class]="themeClass + ' w-100 h-100'">
      </ag-grid-angular>
    </div>
  </div>
</div>




<div class="modal fade" #employeemodal tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">مشخصات کارمند</h5>
        <button type="button" class="btn-close" (click)="Employee_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <div class="row g-2">



          <div class="col-md-4">
            <label class="form-label">FirstName</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['FirstName']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">LastName</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['LastName']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">CodeMeli</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['CodeMeli']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">JobTitle</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['JobTitle']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">Rozkarkard</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['Rozkarkard']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">NerkhHoghogh</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['NerkhHoghogh']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">NerkhSanavat</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['NerkhSanavat']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">NerkhMaskan</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['NerkhMaskan']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">NerkhKharobar</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['NerkhKharobar']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">NerkhEzafekar</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['NerkhEzafekar']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">NerkhPadash</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['NerkhPadash']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">TedadPadash</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['TedadPadash']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">NerkhExtra1</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['NerkhExtra1']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">TedadExtra1</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['TedadExtra1']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">NerkhExtra2</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['NerkhExtra2']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">TedadExtra2</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['TedadExtra2']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">BimePaye</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['BimePaye']" />
          </div>
          <div class="col-md-4">
            <label class="form-label">BimeTakmili</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['BimeTakmili']" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Extra3</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['Extra3']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">Extra4</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['Extra4']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">SaatNaharNamaz</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['SaatNaharNamaz']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">VaziyatTaahol</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['VaziyatTaahol']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">TedadOlad</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['TedadOlad']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">HaghOlad</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['HaghOlad']" />
          </div>


          <div class="col-md-4">
            <label class="form-label">HaghTaahol</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['HaghTaahol']" />
          </div>

          <div class="col-md-4">
            <label class="form-label">Explain</label>
            <input class="form-control" readonly [formControl]="ShowForm_Employee.controls['Explain']" />
          </div>



        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" (click)="Employee_dialog_close()">بستن</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" #employeesalarymodal tabindex="-1" aria-hidden="true">

  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">لیست حقوق</h5>
        <button type="button" class="btn-close" (click)="Employeesalary_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <div class="row g-2">

          <!-- گرید اصلی -->
          <div class="ag-container rounded-3 border shadow-sm overflow-hidden" style="height: 400px;">
            <ag-grid-angular [enableBrowserTooltips]="true" [tooltipShowDelay]="200" [tooltipHideDelay]="800"
              [columnDefs]="columnDefs2" [rowData]="records_salary()" [gridOptions]="gridOptions"
              (gridReady)="onGridReady($event, 2)" (firstDataRendered)="gridApi2?.sizeColumnsToFit()"
              [class]="themeClass + ' w-100 h-100'">
            </ag-grid-angular>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" (click)="Employeesalary_dialog_close()">بستن</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" #detailsalarymodal tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">جزئیات حقوق</h5>
        <button type="button" class="btn-close" (click)="detailsalary_dialog_close()"></button>
      </div>
      <div class="modal-body">


        <div class="row g-2">

          <!-- مشخصات فرد -->
          <div class="col-md-3">
            <label class="form-label">نام</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['FirstName']" />
          </div>

          <div class="col-md-3">
            <label class="form-label">نام خانوادگی</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['LastName']" />
          </div>

          <div class="col-md-3">
            <label class="form-label">کد ملی</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['CodeMeli']" />
          </div>

          <div class="col-md-3">
            <label class="form-label">شغل</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['JobTitle']" />
          </div>

          <!-- دوره -->
          <div class="col-md-2">
            <label class="form-label">سال</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['Sal']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">ماه</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['Mah']" />
          </div>

          <!-- کارکرد -->
          <div class="col-md-2">
            <label class="form-label">روز کارکرد</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['Rozkarkard']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">TotalDays</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalDays']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">روز کاری</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['WorkingDays']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">روز تعطیل</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['HolidayDays']" />
          </div>


          <div class="col-md-2">
            <label class="form-label">ساعت موظفی</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['WorkingHoursInMonth']" />
          </div>

          <div class="col-md-3">
            <label class="form-label">ساعت کارکرد کارمند</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['WorkingHours']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">Rozkarkard</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['Rozkarkard']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">NerkhHoghoghRozane</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['NerkhHoghoghRozane']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TotalHoghoghRozane</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalHoghoghRozane']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">NerkhEzafekar</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['NerkhEzafekar']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">SaatEzafekarCal</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['SaatEzafekarCal']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TotalEzafekar</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalEzafekar']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TotalSanavat</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalSanavat']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">NerkhSanavat</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['NerkhSanavat']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TotalMaskan</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalMaskan']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">NerkhMaskan</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['NerkhMaskan']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">NerkhKharobar</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['NerkhKharobar']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TotalKharobar</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalKharobar']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">SaatNaharNamaz</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['SaatNaharNamaz']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TedadOlad</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TedadOlad']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TotalOlad</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalOlad']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">HaghTaahol</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['HaghTaahol']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">NerkhPadash</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['NerkhPadash']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TedadPadash</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TedadPadash']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TotalPadash</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalPadash']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">NerkhExtra1</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['NerkhExtra1']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">TedadExtra1</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TedadExtra1']" />
          </div>


          <div class="col-md-2">
            <label class="form-label">TotalExtra1</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalExtra1']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">NerkhExtra2</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['NerkhExtra2']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">TedadExtra2</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TedadExtra2']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">TotalExtra2</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalExtra2']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">PayeHoghogh</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['PayeHoghogh']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">TotalExtra</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalExtra']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">TotalHoghogh</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['TotalHoghogh']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">HoghoghAndExtra</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['HoghoghAndExtra']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">AfterCalHoghogh</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['AfterCalHoghogh']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">ZaribExtra4</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['ZaribExtra4']" />
          </div>

          <div class="col-md-2">
            <label class="form-label">BimePaye</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['BimePaye']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">BimeTakmili</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['BimeTakmili']" />
          </div>
          <div class="col-md-2">
            <label class="form-label">Extra3</label>
            <input class="form-control" readonly [formControl]="ShowForm_salary.controls['Extra3']" />

            <div class="col-md-2">
              <label class="form-label">Extra4</label>
              <input class="form-control" readonly [formControl]="ShowForm_salary.controls['Extra4']" />
            </div>

            <div class="col-md-2">
              <label class="form-label">LeaveDays</label>
              <input class="form-control" readonly [formControl]="ShowForm_salary.controls['LeaveDays']" />
            </div>

            <div class="col-md-2">
              <label class="form-label">Explain</label>
              <input class="form-control" readonly [formControl]="ShowForm_salary.controls['Explain']" />
            </div>


          </div>


        </div>
        <div class="modal-footer">
          <button class="btn btn-light" (click)="detailsalary_dialog_close()">بستن</button>
        </div>
      </div>
    </div>
  </div>