<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active " data-bs-toggle="pill" [routerLink]="['/application/ocr-detail']">پنل نمایشگر</a>
      </li>

      <li class="nav-item">
        <a class="nav-link  " data-bs-toggle="pill" [routerLink]="['/application/ocr-report-chart']">پنل مدیریتی</a>
      </li>

      <li class="nav-item">
        <a class="nav-link  " data-bs-toggle="pill" [routerLink]="['/application/ocr-report-list']">گزارشات </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" [routerLink]="['/application/ocr-list']">لیست توزیع و بایگانی</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/ocr-setting']">تنظیمات توزیع و
          بایگانی</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active" role="tabpanel">

        <div class="row">




          <div class="col-md-4">
            <ng-container *ngIf="loading1">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>

            <ng-container *ngIf="!loading1">
              <div class="d-flex align-items-start border border-info p-1">
                <app-minton-radial-chart [percentage]="radial_value_1" [label]="' '"></app-minton-radial-chart>
                <div class="flex-1 text-center align-self-center">
                  <h3 class=""><span>{{radial_value_11}}</span></h3>
                  <h4 class="text-muted ">مانده انبار</h4>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="col-md-4">
            <ng-container *ngIf="loading2">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>

            <ng-container *ngIf="!loading2">
              <div class="d-flex align-items-start border border-info p-1">
                <app-minton-radial-chart [percentage]="radial_value_2" [label]="' '"></app-minton-radial-chart>
                <div class="flex-1 text-center align-self-center">
                  <h3 class=""><span>{{radial_value_22}}</span></h3>
                  <h4 class="text-muted ">مانده بسته بندی </h4>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="col-md-4">
            <ng-container *ngIf="loading3">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>

            <ng-container *ngIf="!loading3">
              <div class="d-flex align-items-start border border-info p-1">
                <app-minton-radial-chart [percentage]="radial_value_3" [label]="'label'"></app-minton-radial-chart>
                <div class="flex-1 text-center align-self-center">
                  <h3 class=""><span>{{radial_value_33}}</span></h3>
                  <h4 class="text-muted ">مانده تحویل</h4>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="col-md-6 p-3">



            <ng-container *ngIf="loading4">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>
            <ng-container *ngIf="!loading4">
              <ag-grid-angular #agGrid id="myGrid" style="height: 400px; width: auto" class="ag-theme-alpine-dark"
                [rowData]="record_factor_headers" [columnDefs]="columnDefs1" [modules]="modules"
                [localeText]="localeText" [defaultColDef]="defaultColDef" [enableRtl]="true"
                (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"
                [frameworkComponents]="frameworkComponents" [context]="context">
              </ag-grid-angular>
            </ng-container>
            <ng-container *ngIf="loading5">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>

            <ng-container *ngIf="!loading5">
              <ag-grid-angular #agGrid id="myGrid" style="height: 400px; width: auto" class="ag-theme-alpine-dark"
                [rowData]="record_factor_rows" [columnDefs]="columnDefs2" [modules]="modules" [localeText]="localeText"
                [defaultColDef]="defaultColDef" [enableRtl]="true" (gridReady)="onGridReady($event)"
                (cellClicked)="onCellClicked($event)" [pagination]="true" [frameworkComponents]="frameworkComponents"
                [context]="context">
              </ag-grid-angular>
            </ng-container>

          </div>

          <div class="col-md-6 p-3">
            <ng-container *ngIf="loading6">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>

            <ng-container *ngIf="!loading6">

              <ag-grid-angular #agGrid id="myGrid" style="height: 800px; width: auto" class="ag-theme-alpine-dark"
                [rowData]="records_ocr_factors" [columnDefs]="columnDefs3" [modules]="modules" [localeText]="localeText"
                [defaultColDef]="defaultColDef" [enableRtl]="true" (gridReady)="onGridReady($event)"
                (cellClicked)="onCellClicked($event)" [pagination]="true" [frameworkComponents]="frameworkComponents"
                [context]="context">
              </ag-grid-angular>

            </ng-container>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>