<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/company-detail']">پنل مشتریان</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/company-setting']">تنظیمات مشتریان</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" [routerLink]="['/application/company-list']">لیست مشتریان</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" [routerLink]="['/application/company-column']">تنظیم جدول
        مشتریان</a>
      </li>


    </ul>
  </div>



  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" role="tabpanel">



        <!-- Inside ListVisibleComponent -->



        <!-- begin::DBSetup -->
        <div>
          <!-- begin::header Table  -->
          <!--

          <c-container class=" mt-5 mb-3">

            <c-row class="justify-content-between">
              <c-col xs="4">
                <h3 class="card-title align-items-start flex-column">
                  <span class="card-label ">{{TagName}} </span>
                </h3>
              </c-col>
              <c-col xs="2">

              </c-col>
            </c-row>

          </c-container> -->

          <div class="container mt-5 mb-3">
            <div class="row justify-content-between">
              <div class="col-xs-4">
                <h3 class="card-title align-items-start flex-column">
                  <span class="card-label">{{TagName}}</span>
                </h3>
              </div>
              <div class="col-xs-2">
                <!-- Content for the second column if needed -->
              </div>
            </div>
          </div>



          <!-- End::header Table  -->
          <!-- begin::Table container -->



          <!-- <c-container class="mt-5 mb-3">
          <c-row class="justify-content-between">
            <c-col xs="2">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label">نوع کالا :</span>
              </h3>
            </c-col>
            <c-col xs="10">
              <select class="form-control" [(ngModel)]="selected_GoodType" (change)="selectGoodType()">
                <option *ngFor="let item of Goodtypes" [ngValue]="item.GoodType">
                  {{ item.GoodType }}
                </option>
              </select>

            </c-col>
          </c-row>
        </c-container> -->
        <div class="container mt-5 mb-3">
          <div class="row justify-content-between">
            <div class="col-xs-2">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label">نوع کالا :</span>
              </h3>
            </div>
            <div class="col-xs-10">
              <select class="form-control" [(ngModel)]="selected_GoodType" (change)="selectGoodType()">
                @for (item of Goodtypes; track item) {
                  <option [ngValue]="item.GoodType">
                    {{ item.GoodType }}
                  </option>
                }
              </select>
            </div>
          </div>
        </div>




        <!--
        <c-container class="mt-5 mb-3">
          <c-row class="justify-content-between">
            <c-col xs="2">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label">خصوصیت :</span>
              </h3>
            </c-col>
            <c-col xs="10">
              <select class="form-control" [(ngModel)]="selected_PropertyName" (change)="selectproperty()">
                <option *ngFor="let item of Propertys" [ngValue]="item.PropertyName">
                  {{ getDisplayName(item.PropertySchema) }}
                </option>
              </select>
            </c-col>

          </c-row>
        </c-container> -->

        <div class="container mt-5 mb-3">
          <div class="row justify-content-between">
            <div class="col-xs-2">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label">خصوصیت :</span>
              </h3>
            </div>
            <div class="col-xs-10">
              <select class="form-control" [(ngModel)]="selected_PropertyName" (change)="selectproperty()">
                @for (item of Propertys; track item) {
                  <option [ngValue]="item.PropertyName">
                    {{ getDisplayName(item.PropertySchema) }}
                  </option>
                }
              </select>
            </div>
          </div>
        </div>





        <!-- <c-container class="mt-5 mb-3">
        <c-row class="justify-content-start">
          <c-col xs="2">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label"> وضعیت در لیستت :</span>
            </h3>
          </c-col>
          <c-col xs="2">
            <select class="form-control" [(ngModel)]="selected_ListLookup" (change)="selectListlookup()">
              <option *ngFor="let item of Lookup_item" [ngValue]="item.Text">
                {{ item.Text }}
              </option>
            </select>
          </c-col>
          <c-col xs="2">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label">وضعیت در جستجوی پ :</span>
            </h3>
          </c-col>
          <c-col xs="2">
            <select class="form-control" [(ngModel)]="selected_SearchLookup" (change)="selectSearchlookup()">
              <option *ngFor="let item of Lookup_item" [ngValue]="item.Text">
                {{ item.Text }}
              </option>
            </select>
          </c-col>
          <c-col xs="2">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label">وضعیت در جزییات :</span>
            </h3>
          </c-col>
          <c-col xs="2">
            <select class="form-control" [(ngModel)]="selected_DetailLookup" (change)="selectDetaillookup()">
              <option *ngFor="let item of Lookup_item" [ngValue]="item.Text">
                {{ item.Text }}
              </option>
            </select>
          </c-col>
        </c-row>
      </c-container> -->

      <div class="container mt-5 mb-3">
        <div class="row justify-content-start">
          <div class="col-xs-2">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label">وضعیت در لیستت :</span>
            </h3>
          </div>
          <div class="col-xs-2">
            <select class="form-control" [(ngModel)]="selected_ListLookup" (change)="selectListlookup()">
              @for (item of Lookup_item; track item) {
                <option [ngValue]="item.Text">
                  {{ item.Text }}
                </option>
              }
            </select>
          </div>
          <div class="col-xs-2">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label">وضعیت در جستجوی پ :</span>
            </h3>
          </div>
          <div class="col-xs-2">
            <select class="form-control" [(ngModel)]="selected_SearchLookup" (change)="selectSearchlookup()">
              @for (item of Lookup_item; track item) {
                <option [ngValue]="item.Text">
                  {{ item.Text }}
                </option>
              }
            </select>
          </div>
          <div class="col-xs-2">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label">وضعیت در جزییات :</span>
            </h3>
          </div>
          <div class="col-xs-2">
            <select class="form-control" [(ngModel)]="selected_DetailLookup" (change)="selectDetaillookup()">
              @for (item of Lookup_item; track item) {
                <option [ngValue]="item.Text">
                  {{ item.Text }}
                </option>
              }
            </select>
          </div>
        </div>
      </div>


      <!-- <c-container class=" mt-5 mb-3">

      <c-row class="justify-content-between">
        <c-col xs="4">

        </c-col>
        <c-col xs="3">
          <button cButton color="success" class=" text-white" (click)="InsertSingleColumn()">ثبت اطلاعات
          </button>

        </c-col>
      </c-row>

    </c-container> -->

    <div class="container mt-5 mb-3">
      <div class="row justify-content-between">
        <div class="col-xs-4">
          <!-- Content for the first column -->
        </div>
        <div class="col-xs-3">
          <button class="btn btn-success text-white" type="button" (click)="InsertSingleColumn()">ثبت
          اطلاعات</button>
        </div>
      </div>
    </div>



    <!-- end::Table container -->
  </div>
  <!-- end::DBSetup -->












</div>
</div>
</div>
</div>