<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" [routerLink]="['/application/broker-detail']">پنل بازاریاب</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/broker-setting']">تنظیمات بازاریاب</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" [routerLink]="['/application/broker-list']">لیست بازاریاب</a>
      </li>
    </ul>
  </div>
</div>