<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">ایجاد تیکت جدید</h4>
    </div>
  </div>
</div>

<form [formGroup]="EditForm" (ngSubmit)="submit('')" id="submitForm">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body row">

          <div class="form-group col-md-3">
            <label for="dateValue" class="col-form-label">تاریخ</label>
            <div>
              <h5>{{ToDayDate}}</h5>
            </div>
          </div>

          <div></div>

          <div class="form-group col-md-4">
            <label for="title" class="col-form-label">عنوان تیکت </label>
            <label for="Nvarchar20" class="col-form-label " style="color: #767de0;"> (انتخابی) </label>
            <span class="text-danger">*</span>

            <select formControlName="title" id="title" class="form-control custom-select" [ngClass]="{
                      'is-invalid':
                      EditForm.controls['title'].invalid &&
                      EditForm.controls['title'].touched,
                      'is-valid':
                      EditForm.controls['title'].valid &&
                      EditForm.controls['title'].touched
                    }">
              <option value="">لطفاً انتخاب کنید</option>

              <option [value]="item.id" *ngFor="let item of Title_Lookup">{{item.name}}</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                              validation: 'required',
                                              message: 'اجباری است',
                                              control: EditForm.controls['title']
                                            }">
            </ng-container>

          </div>
          <ng-container *ngIf="JobPersonRef.length>0">
            <div class="form-group col-md-4">
              <label for="LetterPriority" class="col-form-label">الویت </label>
              <select formControlName="LetterPriority" id="LetterPriority" class="form-control custom-select">
                <option value="">لطفاً انتخاب کنید</option>

                <option [value]="item.aType" *ngFor="let item of LetterPriority_lookup">{{item.aType}}</option>
              </select>
            </div>



            <div class="form-group col-md-4">
              <label for="InOutFlag" class="col-form-label">نوع نامه </label>
              <select formControlName="InOutFlag" id="InOutFlag" class="form-control custom-select">
                <option value="">لطفاً انتخاب کنید</option>

                <option [value]="item.id" *ngFor="let item of InOut_Lookup">{{item.name}}</option>
              </select>
            </div>


          </ng-container>




          <div class="form-group col-md-12">
            <label for="description" class="col-form-label">شرح تیکت </label>
            <span class="text-danger">*</span>

            <textarea type="text" class="form-control" id="description" formControlName="description" autocomplete="off"
              [ngClass]="{
                      'is-invalid':
                      EditForm.controls['description'].invalid &&
                      EditForm.controls['description'].touched,
                      'is-valid':
                      EditForm.controls['description'].valid &&
                      EditForm.controls['description'].touched
                    }">
              </textarea>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                              validation: 'required',
                                              message: 'اجباری است',
                                              control: EditForm.controls['description']
                                            }">
            </ng-container>




          </div>


        </div>
      </div>
    </div>
  </div>
</form>
<!-- <div class="form-group col-md-3">
  <label for="datePicker" class="col-form-label">تاریخ</label>
  <div>
    <ng-persian-datepicker [uiTheme]="customTheme" [uiHideOnOutsideClick]="false" [uiHideAfterSelectDate]="true">
      <input class="form-control" id="datePicker" type="text" />
    </ng-persian-datepicker>
  </div>

</div> -->
<div class="card">
  <div class="card-body">
    <div class="col-sm-6">
      <a href="javascript:void(0)" type="button" class="btn btn-success waves-effect waves-light m-2"
        (click)="submit('')">
        <span class="btn-label"><i class="fas fa-check-double"></i></span>ارسال تیکت </a>

      <ng-container *ngIf="JobPersonRef.length>0">
        <a href="javascript:void(0)" type="button" class="btn btn-primary waves-effect waves-light m-2"
          (click)="submit('detail')">
          <span class="btn-label"><i class="fas fa-check-double"></i></span>ثبت و ارجاع تیکت </a>
      </ng-container>




    </div>


  </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container invalid-feedback">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>