<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-detail']">پنل سفارشگیر</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-good']"> مدیریت آیتم </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" [routerLink]="['/application/order-customer']">
          حساب پرسنل</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-report']"> گزارش </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-setting']"> تنظیمات سفارشگیر</a>
      </li>

    </ul>
  </div>



  <div class="card-body  ">
    <div class="tab-content border border-primary">
      <div class="tab-pane fade show active" role="tabpanel">

        <div class="table-responsive">
          <ag-grid-angular #agGrid id="myGrid" style="height: 400px; width: 100%"
            [ngClass]="isDarkMode ? 'ag-theme-balham-dark' : 'ag-theme-balham'" [rowData]="records_Customer"
            [columnDefs]="columnDefs" [modules]="modules" [localeText]="localeText" [enableRtl]="true"
            (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"
            [context]="context" [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents"
            [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
            (selectionChanged)="onSelectionChanged($event)">
          </ag-grid-angular>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ordercustomer" tabindex="-1" aria-labelledby="ordercustomerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="ordercustomerLabel">جزئیات سفارش </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="ordercustomer_Modal_Response_close()"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <ag-grid-angular #agGrid id="myGrid" style="height: 400px; width: 100%"
            [ngClass]="isDarkMode ? 'ag-theme-balham-dark' : 'ag-theme-balham'" [rowData]="records_Customer_detail"
            [columnDefs]="columnDefs1" [modules]="modules" [localeText]="localeText" [enableRtl]="true"
            (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"
            [context]="context" [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents"
            [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
            (selectionChanged)="onSelectionChanged($event)">
          </ag-grid-angular>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="ordercustomer_Modal_Response_close()">بستن</button>
      </div>
    </div>
  </div>
</div>