<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-detail']">پنل سفارشگیر</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-good']"> مدیریت آیتم </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" [routerLink]="['/application/order-customer']">
          حساب پرسنل</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-report']"> گزارش </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-setting']"> تنظیمات سفارشگیر</a>
      </li>

    </ul>
  </div>



  <div class="card-body  ">
    <div class="tab-content border border-primary">
      <div class="tab-pane fade show active" role="tabpanel">

        <ng-container *ngIf="this.id.length==0">

          <div class="table-responsive">

            <table class="table table-bordered align-middle">
              <thead>
                <tr class="fw-bolder ">

                  <th class="min-w-125px">نام </th>
                  <th class="min-w-100px"> مبلغ </th>
                  <th class="min-w-100"> عملیات </th>


                </tr>
              </thead>
              <tbody *ngFor="let item of items; let i = index">

                <tr>
                  <td>{{ item.CustomerName }}</td>
                  <td>{{ item.CustomerBedehkarMandeh }}</td>

                  <td>
                    <a class="rounded-pill btn btn-outline-info"
                      [routerLink]="['/application/order-customer', item.CustomerCode]">
                      نمایش
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </ng-container>

        <ng-container *ngIf="this.id.length>0">

          <h3>
            {{items[0].CustomerName}}
          </h3>
          <div class="table-responsive">

            <table class="table table-bordered align-middle gs-0 gy-4">
              <thead>
                <tr class="fw-bolder ">
                  <th class="min-w-30px"> </th>

                  <th class="min-w-125px">نام آیتم </th>
                  <th class="min-w-100px"> قیمت </th>
                  <th class="min-w-100"> تاریخ فاکتور </th>


                </tr>
              </thead>
              <tbody *ngFor="let item of items; let i = index">

                <tr>
                  <td>{{ i+1 }}</td>
                  <td>{{ item.GoodName }}</td>
                  <td>{{ item.Price }}</td>
                  <td>{{ item.FactorDate }}</td>


                </tr>

              </tbody>
            </table>
          </div>

        </ng-container>


      </div>
    </div>
  </div>
</div>