<!-- =============================================================== -->
<!-- 📋 Attendance Grid Template -->
<!-- توضیحات کلی:
     این بخش مربوط به نمایش وضعیت حضور کارشناسان است.
     شامل دو حالت است:
     1️⃣ نمایش لودر هنگام بارگذاری داده‌ها
     2️⃣ نمایش جدول (AgGrid) پس از آماده شدن داده‌ها -->
<!-- =============================================================== -->

<!-- 🕓 حالت بارگذاری -->
@if (loading()) {
<div class="d-flex justify-content-center align-items-center text-muted" style="height: 500px;">
  <div class="text-center">
    <i class="fas fa-spinner fa-spin" style="font-size: 18px;color: #0d47a1;"> </i>
    <div>در حال بارگذاری اطلاعات حضور...</div>
  </div>
</div>

<!-- =============================================================== -->
<!--   گرید حضور کارشناسان -->
<!-- =============================================================== -->

} @else {
<div class="ag-container rounded-3 border shadow-sm overflow-hidden"
  style="height: 500px; border-radius: 4px; overflow: hidden;">

  <ag-grid-angular [enableBrowserTooltips]="true" [tooltipShowDelay]="200" [tooltipHideDelay]="800"
    [columnDefs]="column_name_1" [rowData]="records()" (gridReady)="onGridReady($event, 1)" [gridOptions]="gridOptions"
    [class]="themeClass + ' w-100 h-100'" (firstDataRendered)="gridApi1?.sizeColumnsToFit()">
  </ag-grid-angular>
</div>
}