<div class="card shadow-sm mt-3">
  <div class="card-body">

    <h5 class="header-title mb-4">
      <i class="fas fa-paperclip me-2 text-primary"></i>
      پیوست‌های مرتبط
    </h5>

    <form class="row align-items-center g-2 mb-3" (submit)="submit(); $event.preventDefault()">
      <div class="col-md-6">
        <input type="file" class="form-control" (change)="onFileSelected($event)" />
      </div>

      <div class="col-md-3">
        <button type="submit" class="btn btn-success w-100">
          <i class="fas fa-upload me-2"></i>
          بارگذاری فایل
        </button>
      </div>
    </form>

    <hr />

    <div class="ag-container" style="height: 600px; border-radius: 8px; overflow: hidden;">

      <ag-grid-angular [columnDefs]="columnDefs6" [rowData]="records" [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event, 6)" (firstDataRendered)="gridApi6?.sizeColumnsToFit()" class="w-100 h-100">
      </ag-grid-angular>

    </div>

  </div>
</div>