<div class="d-flex align-items-center justify-content-between">
    <input type="text" class="form-control" id="plugins4_q" placeholder="جستجو ..." autocomplete="off"
        style="width: 85%;">
    <button class="btn btn-outline-primary" (click)="collapseAll()" type="button">
        <i class="fas fa-compress-arrows-alt"></i>
    </button>
    <button class="btn btn-outline-primary" (click)="expandAll()" type="button">
        <i class="fas fa-expand-arrows-alt"></i>
    </button>
</div>
<br>
<div id="tree"> </div>