<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ title }}</h4>
    <div class="row mb-2">
      <div class="form-group">
        <input cFormControl type="text" class="form-control" placeholder="جستجو..." type="text"
          [(ngModel)]="Searchtarget" (ngModelChange)="onInputChange()" [ngModelOptions]="{ standalone: true }" />

      </div>
      <div class="col-sm-12">

        <!-- <input cFormControl type="text" class="form-control" placeholder="جستجو..." type="text"
          [(ngModel)]="Searchtarget" (ngModelChange)="onInputChange()" [ngModelOptions]="{ standalone: true }" /> -->





        <ng-container *ngIf="JobPersonRef.length>0">
          <a type="button" class="btn btn-success waves-effect waves-light m-1"
            [routerLink]="['/document/download-edit']">
            <span class="btn-label"><i class="fas fa-plus"></i></span>جدید
          </a>

        </ng-container>






        <a type="button" class="btn btn-light waves-effect waves-light m-1" (click)="getList()">
          <span class="btn-label"><i class="fas fa-recycle"></i></span>بازخوانی
        </a>
        <a type="button" class="btn btn-light waves-effect waves-light m-1" (click)="removeAllFilters()">
          <span class="btn-label"><i class="fas fa-eye-slash"></i></span>حذف
          جستجو
        </a>

      </div>


    </div>

    <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: auto" class="ag-theme-alpine" [rowData]="records"
      [columnDefs]="columnDefs" [modules]="modules" [localeText]="localeText" [defaultColDef]="defaultColDef"
      [enableRtl]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"
      [frameworkComponents]="frameworkComponents" [context]="context">
    </ag-grid-angular>
  </div>
</div>