<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">


      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-detail']">پنل سفارشگیر</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" [routerLink]="['/application/order-good']"> مدیریت آیتم </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-customer']">
          حساب پرسنل</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-report']"> گزارش </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-setting']"> تنظیمات سفارشگیر</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active" role="tabpanel">

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">ویرایش آیتم</h4>




            <div class="row">
              <div class="card-body col-6">
                <form>
                  <div class="form-row">
                    <div class="col-md-16 mb-1">
                      <label for="GoodCode" class="form-label">کد سیستمی آیتم </label>

                      <h5>{{formValues.GoodCode}}</h5>
                    </div>
                  </div>


                  <div class="form-row">
                    <div class="col-md-16 mb-1"> <label for="GoodName" class="form-label">نام فارسی </label>
                      <input type="text" class="form-control" id="GoodName" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="formValues.GoodName">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-16 mb-1">

                      <label for="GoodExplain5" class="form-label">نام انگلیسی </label>
                      <input type="text" class="form-control" id="GoodExplain5" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="formValues.GoodExplain5">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-16 mb-1"> <label for="MaxSellprice" class="form-label">قیمت </label> <input
                        type="number" class="form-control" id="MaxSellprice" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="formValues.MaxSellprice"> </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-16 mb-1"> <label for="GoodExplain1" class="form-label">گروه </label> <input
                        type="text" class="form-control" id="GoodExplain1" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="formValues.GoodExplain1"> </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-16 mb-1"> <label for="GoodExplain2" class="form-label">توضیحات </label> <input
                        type="text" class="form-control" id="GoodExplain2" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="formValues.GoodExplain2"> </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-16 mb-1"> <label for="GoodExplain3" class="form-label"> بخش تولید </label> <input
                        type="text" class="form-control" id="GoodExplain3" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="formValues.GoodExplain3"> </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-16 mb-1"> <label for="GoodExplain4" class="form-label">مشخصه 4 </label>
                      <input type="text" class="form-control" id="GoodExplain4" [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="formValues.GoodExplain4">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-6 mb-1">
                      <button class="btn btn-primary btn-block" type="button" (click)="logFormData()">ثبت کردن</button>
                    </div>
                  </div>
                </form>
              </div>



              <div class="card-body col-6">


                <label>عکس آیتم </label>
                <div class="d-flex justify-content-center align-items-center position-relative">
                  <label for="fileInput" class="position-relative">

                    <ng-container *ngIf="Imageitem.length>100">
                      <img [src]="Imageitem" alt="No Photo"
                        style="width: 150px; height: 150px; border-radius: 5%; cursor: pointer;"
                        (mouseover)="showUploadText = true" (mouseleave)="showUploadText = false"
                        (click)="fileInput.click()">
                    </ng-container>
                    <ng-container *ngIf="Imageitem.length<100">
                      <img src="../assets/images/logo-sm.png" alt="No Photo"
                        style="width: 150px; height: 150px; border-radius: 5%; cursor: pointer;"
                        (mouseover)="showUploadText = true" (mouseleave)="showUploadText = false"
                        (click)="fileInput.click()">

                    </ng-container>



                    <span
                      class="upload-text position-absolute top-50 start-50 translate-middle text-white fw-bold opacity-50 transition-opacity"
                      [ngClass]="{'opacity-100': showUploadText}">بارگزاری</span>
                  </label>
                  <input type="file" (change)="onFileSelected($event)" id="fileInput" #fileInput style="display: none;">
                </div>


                <form [formGroup]="btnRadioGroup2">

                  <div class="row">


                    <div class="form-group col-md-6">
                      <input type="radio" class="form-control btn-check" name="options-outlined" id="success-outlined"
                        autocomplete="off" checked formControlName="activestack" id="radio1-grp2" type="radio"
                        value="NotActive">
                      <label (click)="setRadioValue('NotActive')" class="form-control btn btn-outline-success"
                        for="success-outlined">فعال</label>
                    </div>


                    <div class="form-group col-md-6">
                      <input type="radio" class="form-control btn-check" name="options-outlined" id="danger-outlined"
                        autocomplete="off" formControlName="activestack" id="radio2-grp2" type="radio" value="Active">
                      <label (click)="setRadioValue('Active')" class="form-control btn btn-outline-danger"
                        for="danger-outlined">غیر
                        فعال</label>
                    </div>
                  </div>









                </form>


                <div class="my-4 ">
                  <label f>لیست گروه بندی</label>
                  <div class="table-responsive">

                    <table class="table table-bordered align-middle gs-0 gy-4">
                      <thead>
                        <tr class="fw-bolder ">

                          <th class="min-w-50px">نام</th>
                          <th class="min-w-50px">کد گروه </th>
                          <th class="min-w-50px">عملیات </th>

                        </tr>
                      </thead>
                      <tbody *ngFor="let item of items_Grp">

                        <tr>

                          <td>{{ item.Name }}</td>
                          <td>{{ item.GoodGroupRef }}</td>
                          <td>

                            <a class="btn btn-danger text-white btn-sm mx-1"
                              (click)="DeleteGoodGroupCode(item.GoodGroupCode)">
                              حذف
                            </a>

                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>


                </div>


              </div>
            </div>






          </div>
        </div>







      </div>

    </div>
  </div>
</div>