<div id="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="content-page">
    <div class="content">
      <div class="container-fluid">
        <!-- <app-toolbar></app-toolbar> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <!-- <app-right-slider></app-right-slider>  -->
</div>

<div class="modal fade" id="loadingmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7; border-radius: 10px; border: none;">
      <div class="modal-body d-flex justify-content-center align-items-center" style="height: 150px;">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="ms-3">لطفا منتظر بمانید</div>
      </div>
    </div>
  </div>
</div>