<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ title }}</h4>
    <div class="row mb-2">
      <div class="col-sm-12">


        <div class="row">
          <!-- <div class="form-group col-md-3">
            <label for="searchTerm" class="col-form-label">جستجو</label>
            <input class="form-control" id="searchTerm" type="text" [(ngModel)]="searchTerm"
              [ngModelOptions]="{ standalone: true }" />
          </div>

          <div class="form-group col-md-3">
            <label for="ticketDisplay" class="col-form-label">نمایش تیکت‌ها</label>
            <select class="form-control" id="ticketDisplay" [(ngModel)]="selectedOption">
              <option [value]="'0'">همه</option>
              <option [value]="'1'">خودم</option>
            </select>
          </div> -->

          <!-- Date Picker -->
          <div class="form-group col-md-3">
            <label for="StartTime" class="col-form-label">از تاریخ</label>
            <div>
              <ng-persian-datepicker [uiTheme]="customTheme" [uiHideOnOutsideClick]="false"
                [uiHideAfterSelectDate]="true">
                <input class="form-control" id="StartTime" type="text" [formControl]="StartTime" />
              </ng-persian-datepicker>
            </div>

          </div>
          <div class="form-group col-md-3">
            <label for="EndTime" class="col-form-label">تا تاریخ</label>
            <div>
              <ng-persian-datepicker [uiTheme]="customTheme" [uiHideOnOutsideClick]="false"
                [uiHideAfterSelectDate]="true">
                <input class="form-control" id="EndTime" type="text" [formControl]="EndTime" />
              </ng-persian-datepicker>
            </div>

          </div>



        </div>


        <!-- <input cFormControl type="text" class="form-control" placeholder="جستجو..." type="text"
          [(ngModel)]="Searchtarget" (ngModelChange)="onInputChange()" [ngModelOptions]="{ standalone: true }" /> -->
        <a type="button" class="btn btn-primary waves-effect waves-light m-1" (click)="LoadList()">
          <span class="btn-label"><i class="fas fa-search"></i></span>جستجو
        </a>
        <a type="button" class="btn btn-success waves-effect waves-light m-1" [routerLink]="['/support/leavereq-edit']">
          <span class="btn-label"><i class="fas fa-plus"></i></span>جدید
        </a>
        <a type="button" class="btn btn-light waves-effect waves-light m-1" (click)="getinitialList()">
          <span class="btn-label"><i class="fas fa-recycle"></i></span>بازخوانی
        </a>
        <a type="button" class="btn btn-light waves-effect waves-light m-1" (click)="removeAllFilters()">
          <span class="btn-label"><i class="fas fa-eye-slash"></i></span>حذف
          جستجو
        </a>
        <!-- <div class="btn-group">
          <button type="button" class="btn btn-light waves-effect waves-light m-1 dropdown-toggle" id="exportdropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            دریافت خروجی <i class="mdi mdi-chevron-down"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="exportdropdown">
            <button class="dropdown-item" type="button" (click)="onExportExcel()">
              Excel <i class="fas fa-file-excel"></i>
            </button>
            <button class="dropdown-item" type="button" (click)="onExportCSV()">
              CSV <i class="fas fa-file-csv"></i>
            </button>


          </div>
        </div> -->
      </div>


    </div>

    <div *ngIf="loading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: auto" [rowData]="records"
      [columnDefs]="columnDefs" [modules]="modules" [localeText]="localeText" [enableRtl]="true"
      (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"
      [frameworkComponents]="frameworkComponents" [context]="context"
      [ngClass]="isDarkMode ? 'ag-theme-balham-dark' : 'ag-theme-balham'" [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
      (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>
  </div>
</div>



<div class="modal fade" id="leavedetail" tabindex="-1" aria-labelledby="leavedetailLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="leavedetailLabel">شرع جزئیات مرخصی</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="leavedetail_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_LeaveRequest" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">


                  <div class="col-md-2">
                    <label for="LeaveRequestDate" class="form-label">تاریخ درخواست</label>
                    <input formControlName="LeaveRequestDate" id="LeaveRequestDate" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>


                  <div class="col-md-2">
                    <label for="LeaveRequestType" class="form-label">نوع مرخصی</label>
                    <input formControlName="LeaveRequestType" id="LeaveRequestType" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>




                  <div class="col-md-8">
                    <label for="LeaveRequestExplain" class="form-label">توضیحات مرخصی</label>
                    <input formControlName="LeaveRequestExplain" id="LeaveRequestExplain" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>


                  <div class="col-md-3">
                    <label for="LeaveStartDate" class="form-label">از تاریخ</label>
                    <input formControlName="LeaveStartDate" id="LeaveStartDate" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>
                  <div class="col-md-3">
                    <label for="LeaveEndDate" class="form-label">تا تاریخ</label>
                    <input formControlName="LeaveEndDate" id="LeaveEndDate" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>


                  <div class="col-md-3">
                    <label for="LeaveStartTime" class="form-label">از ساعت</label>
                    <input formControlName="LeaveStartTime" id="LeaveStartTime" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>

                  <div class="col-md-3">
                    <label for="LeaveEndTime" class="form-label"> تا ساعت</label>
                    <input formControlName="LeaveEndTime" id="LeaveEndTime" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>

                  <!-- 
                  <div class="col-md-2">
                    <label for="WorkFlowStatus" class="form-label">وضعیت</label>
                    <input formControlName="WorkFlowStatus" id="WorkFlowStatus" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>
                  <div class="col-md-10">
                    <label for="WorkFlowExplain" class="form-label">توضیحات کارفرما</label>
                    <input formControlName="WorkFlowExplain" id="WorkFlowExplain" class="form-control" rows="4"
                      autocomplete="off" readonly>
                  </div>-->

                  <!-- بخش نظر مدیر و وضعیت -->
                  <ng-container *ngIf="isManager">


                    <div class="card-body row">

                      <div class="form-group  col-md-2">
                        <label for="WorkFlowStatus" class="form-label">وضعیت درخواست</label>
                        <select formControlName="WorkFlowStatus" id="WorkFlowStatus" class="form-control">
                          <option value="0">انتخاب کنید</option>
                          <option value="1">تأیید</option>
                          <option value="2">رد</option>
                          <option value="3">بررسی مجدد</option>
                        </select>
                      </div>

                      <div class="form-group col-md-8">
                        <label for="WorkFlowExplain" class="form-label">توضیحات کارفرما</label>
                        <input formControlName="WorkFlowExplain" id="WorkFlowExplain" class="form-control" rows="3"
                          placeholder="توضیح دلایل تأیید یا رد درخواست">
                      </div>


                      <div class="form-group col-md-2">
                        <label for="Barbary" class="col-form-label">.</label>

                        <a type="button" class="form-control btn btn-primary waves-effect waves-light "
                          (click)="submitWorkflow()">
                          <span class="btn-label"><i class="fas fa-file-alt"></i>
                          </span> ثبت</a>
                      </div>


                    </div>
                  </ng-container>


                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="leavedetail_dialog_close()">بستن</button>

      </div>
    </div>
  </div>
</div>