<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/broker-detail']">پنل بازاریاب</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/broker-setting']">تنظیمات بازاریاب</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" [routerLink]="['/application/broker-list']">لیست بازاریاب</a>
      </li>


    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active" role="tabpanel">







        <!-- begin::Header -->
        <div class="card">
          <div class="card-header border-0 pt-5">

            <div class="row">


            </div>

            <div class="card-toolbar">
              <!-- begin::Menu -->




              <!-- <a [routerLink]="['/manager/broker/edit-form', 0]">ایجاد رکرود جدید</a> -->

              <!-- end::Menu -->
            </div>
          </div>

          <!-- begin::header Table  -->
          <div class="row mx-3">
            <div class="col-4 ">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label "> لیست بازاریاب های فعال</span>
              </h3>
            </div>
          </div>
          <!-- End::header Table  -->
          <!-- end::Header -->
          <!-- begin::Body -->
          <div class="card-body py-3">

            <!-- begin::Table container -->
            <div class="table-responsive">

              <table class="table table-bordered align-middle gs-0 gy-4">
                <thead>
                  <tr class="fw-bolder ">
                    <th class="min-w-125px"></th>
                    <th class="min-w-125px">نام بازاریاب</th>
                    <th class="min-w-125px">نوع ارتباط </th>
                    <th class="min-w-125px">توضیحات </th>
                    <th class="min-w-125px">کد بازاریابی </th>
                    <th class="min-w-125px">کد مرکزی</th>
                    <th class="min-w-50px">فعالیت </th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of items; let i = index">

                  <tr>
                    <td>{{ i+1 }}</td>

                    <td>{{ item.BrokerNameWithoutType }}</td>
                    <td>{{ item.RelationType }}</td>
                    <td>{{ item.Explain }}</td>

                    <td>{{ item.BrokerCode }}</td>
                    <td>{{ item.CentralRef }}</td>

                    <td>

                      <a class="btn btn-warning btn-sm mx-1"
                        [routerLink]="['/application/broker-report', item.BrokerCode]">
                        View
                      </a>

                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

            <!-- end::Table container -->
          </div>
          <!-- begin::Body -->
        </div>


















      </div>

    </div>
  </div>
</div>