<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/broker-detail']">پنل بازاریاب</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/broker-setting']">تنظیمات بازاریاب</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" [routerLink]="['/application/broker-list']">لیست بازاریاب</a>
      </li>


    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active" role="tabpanel">



        <!-- begin::Header -->
        <div class="card">

          <!-- begin::header Table  -->
          <div class="row mx-3">
            <div class="col-12 ">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label "> لیست بازاریاب های فعال</span>
              </h3>
            </div>
          </div>
          <!-- End::header Table  -->
          <!-- end::Header -->
          <!-- begin::Body -->
          <div class="card-body py-3">


            <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: auto" [rowData]="records"
              [columnDefs]="columnDefs" [modules]="modules" [localeText]="localeText" [enableRtl]="true"
              (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"
              [frameworkComponents]="frameworkComponents" [context]="context" class="ag-theme-alpine"
              [defaultColDef]="defaultColDef" [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
              (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>



          </div>
          <!-- begin::Body -->
        </div>


      </div>

    </div>
  </div>
</div>