<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">ویرایش</h4>
    </div>
  </div>
</div>

<form [formGroup]="opsForm" (ngSubmit)="submit('')" id="submitForm">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body row">

          <!-- <div class="form-group col-md-3">
            <label for="OrgUnitId" class="col-form-label">
              <span class="text-danger">*</span>
              گروه
            </label>
            <select appSelect2 formControlName="OrgUnitId" id="OrgUnitId" class="form-control custom-select"
              data-toggle="select2" required [ngClass]="{
                'is-invalid':
                opsForm.controls['OrgUnitId'].invalid &&
                opsForm.controls['OrgUnitId'].touched,
                'is-valid':
                opsForm.controls['OrgUnitId'].valid &&
                opsForm.controls['OrgUnitId'].touched
              }">
              <option [value]="item.id" *ngFor="let item of lookupItem">{{item.incidentItemName}}</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'اجباری است',
              control: opsForm.controls['OrgUnitId']
              }"></ng-container>
          </div> -->

          <div class="form-group col-md-3">
            <label for="BaseNewsId" class="col-form-label">
              خبر
            </label>
            <input type="text" class="form-control" id="BaseNewsId" formControlName="BaseNewsId" maxlength="100"
              autocomplete="off" [ngClass]="{
                'is-invalid':
                opsForm.controls['BaseNewsId'].invalid &&
                opsForm.controls['BaseNewsId'].touched,
                'is-valid':
                opsForm.controls['BaseNewsId'].valid &&
                opsForm.controls['BaseNewsId'].touched
              }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'اجباری است',
              control: opsForm.controls['BaseNewsId']
              }"></ng-container>
          </div>



          <div class="form-group col-md-3">
            <label for="Location" class="col-form-label">
              محل حادثه
            </label>
            <input type="text" class="form-control" id="Location" formControlName="Location" maxlength="100"
              autocomplete="off" />
          </div>

          <!-- <div class="form-group col-md-3">
            <label for="aaaaa" class="col-form-label">
              محل دقیق حادثه
            </label>
            <input type="text" class="form-control" id="aaaaa" formControlName="aaaaa"
              maxlength="100" autocomplete="off" />
          </div> -->

          <div class="form-group col-md-3">
            <label for="EquipmentDesc" class="col-form-label">
              توضیحات تجهیزات
            </label>
            <input type="text" class="form-control" id="EquipmentDesc" formControlName="EquipmentDesc" maxlength="100"
              autocomplete="off" />
          </div>

          <div class="form-group col-md-3">
            <label for="EquipmentId" class="col-form-label">
              تجهیزات
            </label>
            <input type="text" class="form-control" id="EquipmentId" formControlName="EquipmentId" maxlength="100"
              autocomplete="off" />
          </div>

          <div class="form-group col-md-3">
            <label for="HurtCount" class="col-form-label">
              تعداد مصدومین
            </label>
            <input type="number" value="0" class="form-control" id="HurtCount" formControlName="HurtCount"
              maxlength="100" autocomplete="off" />
          </div>

          <div class="form-group col-md-3">
            <label for="DeadCount" class="col-form-label">
              تعداد فوتی
            </label>
            <input type="number" value="0" class="form-control" id="DeadCount" formControlName="DeadCount"
              maxlength="100" autocomplete="off" />
          </div>

        </div>
      </div>
    </div>
  </div>
</form>

<div class="card">
  <div class="card-body">
    <div class="col-sm-6">
      <a href="javascript:void(0)" type="button" class="btn btn-success waves-effect waves-light mr-1"
        (click)="submit('exit')">
        <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره و خروج
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="submit('')">
        <span class="btn-label"><i class="fas fa-check"></i></span>ذخیره
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="submit('new')">
        <span class="btn-label"><i class="fas fa-plus"></i></span>ذخیره و جدید
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="onBtnCancelClick()">
        <span class="btn-label"><i class="fas fa-times"></i></span>انصراف
      </a>
    </div>
  </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container invalid-feedback">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>