<form [formGroup]="userGroupOpsFrm" (ngSubmit)="submit('')" id="submitForm">
  <div class="row">

    <div class="col-5">
      <div class="card">
        <div class="bg-soft-primary card-header text-primary">
          حقوق دسترسی
        </div>
        <div class="card-body">
          <div id="checkTree">
            <ul class="rtl">
              <div class="d-flex align-items-center justify-content-between">
                <input type="text" class="form-control" id="plugins4_q" placeholder="جستجو ..." autocomplete="off"
                  style="width: 85%;">
                <button class="btn btn-outline-primary" (click)="collapseAll()" type="button">
                  <i class="fas fa-compress-arrows-alt"></i>
                </button>
                <button class="btn btn-outline-primary" (click)="expandAll()" type="button">
                  <i class="fas fa-expand-arrows-alt"></i>
                </button>
              </div>
              <br>
              <div id="basicTree"> </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="card">
        <div class="bg-soft-primary card-header text-primary">
          مشخصات گروه کاربری
        </div>
        <div class="card-body">

          <div class="form-group row">
            <custom-input label="عنوان" formControlName="title" identity="title" size="col-12" [required]="true">
            </custom-input>
          </div>

        </div>
      </div>
    </div>

  </div>
</form>

<div class="card">
  <div class="card-body">
    <div class="col-sm-6">
      <a href="javascript:void(0)" type="button" class="btn btn-success waves-effect waves-light mr-1"
        (click)="submit('exit')">
        <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره و خروج
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="submit('')">
        <span class="btn-label"><i class="fas fa-check"></i></span>ذخیره
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="submit('new')">
        <span class="btn-label"><i class="fas fa-plus"></i></span>ذخیره و جدید
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="onBtnCancelClick()">
        <span class="btn-label"><i class="fas fa-times"></i></span>انصراف
      </a>
    </div>
  </div>
</div>