<div class="card-body">
  <h4 class="header-title mb-4">{{ title }}</h4>

  <div class="tab-content">
    <div class="tab-pane active" id="GoodBase">

      <form [formGroup]="EditForm_task" (ngSubmit)="submit('')" id="submitForm">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-body row">

                <!-- انتخاب سطوح (فقط هنگام ساخت رکورد جدید) -->
                @if (Code.length == 0) {
                <div class="row col-md-12">

                  @if (Parent_lvl1.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode1">سطح 1</label>
                    <select class="form-control custom-select" id="ParentCode1" formControlName="ParentCode1"
                      (change)="GetParent_lvl2()">
                      @for (item of Parent_lvl1; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                  @if (Parent_lvl2.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode2">سطح 2</label>
                    <select class="form-control custom-select" id="ParentCode2" formControlName="ParentCode2"
                      (change)="GetParent_lvl3()">
                      @for (item of Parent_lvl2; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                  @if (Parent_lvl3.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode3">سطح 3</label>
                    <select class="form-control custom-select" id="ParentCode3" formControlName="ParentCode3"
                      (change)="GetParent_lvl4()">
                      @for (item of Parent_lvl3; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                  @if (Parent_lvl4.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode4">سطح 4</label>
                    <select class="form-control custom-select" id="ParentCode4" formControlName="ParentCode4"
                      (change)="GetParent_lvl5()">
                      @for (item of Parent_lvl4; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                  @if (Parent_lvl5.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode5">سطح 5</label>
                    <select class="form-control custom-select" id="ParentCode5" formControlName="ParentCode5"
                      (change)="GetParent_lvl6()">
                      @for (item of Parent_lvl5; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                  @if (Parent_lvl6.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode6">سطح 6</label>
                    <select class="form-control custom-select" id="ParentCode6" formControlName="ParentCode6"
                      (change)="GetParent_lvl7()">
                      @for (item of Parent_lvl6; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                  @if (Parent_lvl7.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode7">سطح 7</label>
                    <select class="form-control custom-select" id="ParentCode7" formControlName="ParentCode7"
                      (change)="GetParent_lvl8()">
                      @for (item of Parent_lvl7; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                  @if (Parent_lvl8.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode8">سطح 8</label>
                    <select class="form-control custom-select" id="ParentCode8" formControlName="ParentCode8"
                      (change)="GetParent_lvl9()">
                      @for (item of Parent_lvl8; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                  @if (Parent_lvl9.length > 0) {
                  <div class="form-group col-md-4">
                    <label class="col-form-label" for="ParentCode9">سطح 9</label>
                    <select class="form-control custom-select" id="ParentCode9" formControlName="ParentCode9">
                      @for (item of Parent_lvl9; track item) {
                      <option [value]="item.TaskCode">{{ item.Title }}</option>
                      }
                    </select>
                  </div>
                  }

                </div>
                }

                <!-- سطح مرجع (فقط هنگام ویرایش) -->
                @if (Code.length > 0) {
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="ParentName1">سطح مرجع</label>
                  <input type="text" class="form-control" formControlName="ParentName1" id="ParentName1" readonly />
                </div>
                }

                <!-- عنوان -->
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="Title">نام خدمت <span class="text-danger">*</span></label>

                  <input type="text" id="Title" class="form-control" formControlName="Title" maxlength="400"
                    autocomplete="off" [ngClass]="{
                           'is-invalid': EditForm_task.controls['Title'].invalid && EditForm_task.controls['Title'].touched,
                           'is-valid': EditForm_task.controls['Title'].valid && EditForm_task.controls['Title'].touched
                         }" />

                  <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                  validation: 'required',
                                  message: 'اجباری است',
                                  control: EditForm_task.controls['Title']
                                }">
                  </ng-container>
                </div>

                <!-- توضیحات -->
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="Explain">توضیحات</label>
                  <input type="text" id="Explain" class="form-control" formControlName="Explain" maxlength="400"
                    autocomplete="off" />
                </div>

              </div>
            </div>

          </div>
        </div>
      </form>

      <!-- دکمه‌ها -->
      <div class="card">
        <div class="card-body">
          <div class="col-sm-12">

            @if (Code.length == 0) {
            <a class="btn btn-warning mx-1" href="javascript:void(0)" (click)="reset()">
              <span class="btn-label"><i class="fas fa-check-double"></i></span>پاک کردن همه
            </a>

            <a class="btn btn-success mx-1" href="javascript:void(0)" (click)="submit('insert_back')">
              <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره و بازگشت
            </a>

            <a class="btn btn-success mx-1" href="javascript:void(0)" (click)="submit('insert_new')">
              <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره و رکورد جدید
            </a>
            }

            @if (Code.length > 0) {
            <a class="btn btn-success mx-1" href="javascript:void(0)" (click)="submit('edit_back')">
              <span class="btn-label"><i class="fas fa-check-double"></i></span>اصلاح و بازگشت
            </a>

            <a class="btn btn-success mx-1" href="javascript:void(0)" (click)="submit('edit_new')">
              <span class="btn-label"><i class="fas fa-check-double"></i></span>اصلاح و ایجاد رکورد جدید
            </a>
            }

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- قالب خطا -->
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  @if (control.hasError(validation) && (control.dirty || control.touched)) {
  <div class="fv-plugins-message-container invalid-feedback">
    <span role="alert">{{ message }}</span>
  </div>
  }
</ng-template>