<table class="table table-stripped table-bordered" [formGroup]="voiceFrm">

    <thead>
        <tr>
            <th>تاریخ</th>
            <th>تولید کننده</th>
            <th>صوت</th>
            <th *ngIf="!isInViewMode">عملیات</th>
        </tr>
    </thead>

    <tbody *ngIf="isInViewMode">
        <tr *ngFor="let voice of voices.controls">
            <td>{{voice.get('creationDate').value}}</td>
            <td>{{voice.get('creatorName').value}}</td>
            <td>
                <app-voice-player [audioSource]="voice.get('voice').value"></app-voice-player>
            </td>
        </tr>
    </tbody>

    <tbody *ngIf="!isInViewMode" formArrayName="voices">
        <tr *ngFor="let voice of voices.controls; let i = index" [formGroupName]="i">
            <input type="hidden" id="voiceId{{i}}" class="form-control" formControlName="id" />
            <td>{{voice.get('creationDate').value}}</td>
            <td>{{voice.get('creatorName').value}}</td>
            <td>
                <app-voice-player [audioSource]="voice.get('voice').value"></app-voice-player>
            </td>
            <td>
                <a *ngIf="!canEdit(voice)" [ngClass]="{'disabled': currentUserId != voice.get('creator').value}"
                    type="button" class="btn" (click)="removeVoice(i)">
                    <i class="fas fa-1-5x fa-trash text-danger"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-container *ngIf="!isInViewMode">

    <div class="separator">آیتم جدید</div>

    <div class="form-group row">
        <div class="form-group col-md-11">
            <app-voice-recorder (recordEnded)="setVoice($event)"> </app-voice-recorder>
        </div>
        <div class="form-group col-md-1">
            <button class="btn font-20" type="button" (click)="addVoice()"><i class="fas fa-plus"></i></button>
        </div>
    </div>

</ng-container>