<div class="card">

  <div class="card-body">

    <!-- Header -->
    <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-3">

      <h4 class="card-title mb-0">
        {{ title() }}
      </h4>

    </div>

    <!-- FORM -->
    <form [formGroup]="EditForm" (ngSubmit)="submit('')" id="submitForm">

      <div class="card mb-3">

        <div class="card-body">

          <div class="row g-3 align-items-start">

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">کد فعال‌سازی</label>
              <input type="text" formControlName="ActivationCode" class="form-control" readonly />
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">نام فارسی افزونه</label>
              <input type="text" class="form-control" formControlName="PersianCompanyName" autocomplete="off" [ngClass]="{
                   'is-invalid': EditForm.controls['PersianCompanyName'].invalid && EditForm.controls['PersianCompanyName'].touched,
                   'is-valid': EditForm.controls['PersianCompanyName'].valid && EditForm.controls['PersianCompanyName'].touched
                 }" />
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'اجباری است',
            control: EditForm.controls['PersianCompanyName']
          }"></ng-container>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">نام انگلیسی افزونه</label>
              <input type="text" class="form-control" formControlName="EnglishCompanyName" autocomplete="off" [ngClass]="{
                   'is-invalid': EditForm.controls['EnglishCompanyName'].invalid && EditForm.controls['EnglishCompanyName'].touched,
                   'is-valid': EditForm.controls['EnglishCompanyName'].valid && EditForm.controls['EnglishCompanyName'].touched
                 }" />
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'اجباری است',
            control: EditForm.controls['EnglishCompanyName']
          }"></ng-container>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">نوع نرم‌افزار</label>
              <select formControlName="AppType" class="form-select">
                @for (item of Type_Lookup; track item.id) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">وضعیت</label>
              <select formControlName="IsActive" class="form-select">
                @for (item of IsActive_Lookup; track item.id) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">نام دیتابیس</label>
              <input type="text" class="form-control" formControlName="DbName" autocomplete="off" [ngClass]="{
                   'is-invalid': EditForm.controls['DbName'].invalid && EditForm.controls['DbName'].touched,
                   'is-valid': EditForm.controls['DbName'].valid && EditForm.controls['DbName'].touched
                 }" />
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'اجباری است',
            control: EditForm.controls['DbName']
          }"></ng-container>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">نام دیتابیس عکس</label>
              <input type="text" class="form-control" formControlName="DbImageName" autocomplete="off" [ngClass]="{
                   'is-invalid': EditForm.controls['DbImageName'].invalid && EditForm.controls['DbImageName'].touched,
                   'is-valid': EditForm.controls['DbImageName'].valid && EditForm.controls['DbImageName'].touched
                 }" />
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'اجباری است',
            control: EditForm.controls['DbImageName']
          }"></ng-container>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">تعداد استفاده</label>
              <input type="text" class="form-control" formControlName="UsedDevice" autocomplete="off" />
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">تعداد مجاز</label>
              <input type="text" class="form-control" formControlName="MaxDevice" autocomplete="off" />
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">آدرس سرور</label>
              <input type="text" class="form-control" formControlName="ServerIp" autocomplete="off" [ngClass]="{
                   'is-invalid': EditForm.controls['ServerIp'].invalid && EditForm.controls['ServerIp'].touched,
                   'is-valid': EditForm.controls['ServerIp'].valid && EditForm.controls['ServerIp'].touched
                 }" />
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'اجباری است',
            control: EditForm.controls['ServerIp']
          }"></ng-container>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">پورت</label>
              <input type="text" class="form-control" formControlName="ServerPort" autocomplete="off" />
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <label class="form-label fw-semibold">نام پوشه سرور</label>
              <input type="text" class="form-control" formControlName="ServerPathApi" autocomplete="off" />
            </div>

            <div class="col-12">
              <label class="form-label fw-semibold">آدرس دیتای اولیه</label>
              <input type="text" class="form-control" formControlName="SQLiteURL" autocomplete="off" />
            </div>

          </div>

        </div>

      </div>

    </form>

    <!-- ACTION BUTTONS -->
    <div class="card mb-0">

      <div class="card-body d-flex justify-content-end flex-wrap gap-2">

        <button class="btn btn-success px-4" type="button" (click)="submit('exit')">
          <i class="fas fa-check-double me-1"></i>
          ذخیره
        </button>

        <button class="btn btn-light px-4" type="button" (click)="onBtnCancelClick()">
          <i class="fas fa-times me-1"></i>
          انصراف
        </button>

      </div>

    </div>

  </div>

</div>

<!-- VALIDATION TEMPLATE -->
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  @if (control.hasError(validation) && (control.dirty || control.touched)) {
  <div class="invalid-feedback d-block">
    {{ message }}
  </div>
  }
</ng-template>