<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ title }}</h4>

    <ng-container *ngIf="records.length==0">
      <h4 class="card-title text-danger">هنوز ارجاعی داده نشده است</h4>

    </ng-container>
    <ng-container *ngIf="records.length>0">
      <ag-grid-angular #agGrid id="myGrid" style="height: 300px; width: auto" class="ag-theme-alpine"
        [rowData]="records" [columnDefs]="columnDefs" [modules]="modules" [localeText]="localeText"
        [defaultColDef]="defaultColDef" [enableRtl]="true" (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)" [pagination]="true" [frameworkComponents]="frameworkComponents"
        [context]="context">
      </ag-grid-angular>
    </ng-container>



  </div>
</div>
<div class="card">
  <div class="card-body">

    <form [formGroup]="EditForm" (ngSubmit)="submit('')" id="submitForm">
      <div class="row">
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="row g-3 align-items-center">

                <!-- تاریخ -->
                <div class="col-md-2">
                  <label for="dateValue" class="form-label">تاریخ</label>
                  <h5 class="mt-2">{{ ToDayDate }}</h5>
                </div>

                <!-- انتخاب کاربر -->
                <div class="col-md-4">
                  <label for="selectedUserId" class="form-label">کاربر</label>
                  <select formControlName="selectedUserId" id="selectedUserId" class="form-control custom-select"
                    [ngClass]="{
                      'is-invalid':
                      EditForm.controls['selectedUserId'].invalid &&
                      EditForm.controls['selectedUserId'].touched,
                      'is-valid':
                      EditForm.controls['selectedUserId'].valid &&
                      EditForm.controls['selectedUserId'].touched
                    }">
                    <option value="">لطفاً انتخاب کنید</option>
                    <option *ngFor="let user of users" [value]="user.CentralCode">
                      {{ user.CentralName }}
                    </option>
                  </select>
                  <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                              validation: 'required',
                                              message: 'اجباری است',
                                              control: EditForm.controls['selectedUserId']
                                            }">
                  </ng-container>
                </div>

                <!-- اولویت -->
                <div class="col-md-3">
                  <label for="LetterPriority" class="form-label">اولویت</label>
                  <select formControlName="LetterPriority" id="LetterPriority" class="form-control custom-select"
                    [ngClass]="{
                      'is-invalid':
                      EditForm.controls['LetterPriority'].invalid &&
                      EditForm.controls['LetterPriority'].touched,
                      'is-valid':
                      EditForm.controls['LetterPriority'].valid &&
                      EditForm.controls['LetterPriority'].touched
                    }">
                    <option value="">لطفاً انتخاب کنید</option>
                    <option *ngFor="let item of LetterPriority_lookup" [value]="item.aType">
                      {{ item.aType }}
                    </option>
                  </select>
                  <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                              validation: 'required',
                                              message: 'اجباری است',
                                              control: EditForm.controls['LetterPriority']
                                            }">
                  </ng-container>
                </div>

                <!-- شرح -->
                <div class="col-md-12">
                  <label for="descriptionFormControl" class="form-label">شرح</label>
                  <textarea formControlName="descriptionFormControl" id="descriptionFormControl" class="form-control"
                    rows="4" autocomplete="off" [ngClass]="{
                      'is-invalid':
                      EditForm.controls['descriptionFormControl'].invalid &&
                      EditForm.controls['descriptionFormControl'].touched,
                      'is-valid':
                      EditForm.controls['descriptionFormControl'].valid &&
                      EditForm.controls['descriptionFormControl'].touched
                    }">
                    ></textarea>
                  <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                              validation: 'required',
                                              message: 'اجباری است',
                                              control: EditForm.controls['descriptionFormControl']
                                            }">
                  </ng-container>
                </div>

                <!-- دکمه ارسال -->
                <div class="col-md-12 text-end mt-3">
                  <button type="submit" class="btn btn-success">
                    <span class="btn-label"><i class="fas fa-check-double"></i></span> ارسال
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>



  </div>
</div>






<div class="modal fade" id="autletterrowmodal" tabindex="-1" aria-labelledby="autletterrowmodalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="autletterrowmodalLabel">شرع وضعیت و کار</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="explain_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_explain" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">

                  <div class="col-md-12">
                    <label for="AutLetterRow_PropDescription1" class="form-label">خلاصه عملکرد</label>
                    <textarea formControlName="AutLetterRow_PropDescription1" id="AutLetterRow_PropDescription1"
                      class="form-control" rows="4" autocomplete="off"></textarea>
                  </div>

                  <div class="col-md-12">
                    <label for="LetterRowDescription" class="form-label">شرح</label>
                    <input formControlName="LetterRowDescription" id="LetterRowDescription" class="form-control"
                      rows="4" autocomplete="off" readonly>
                  </div>

                  <div class="form-group col-md-12">
                    <label for="LetterRowState" class="col-form-label">وضعیت </label>
                    <select formControlName="LetterRowState" id="LetterRowState" class="form-control custom-select">
                      <option value="">لطفاً انتخاب کنید</option>

                      <option *ngFor=" let item of LetterState_lookup" [value]="item.aType">{{ item.aType }}
                      </option>
                    </select>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="explain_dialog_close()">بستن</button>
        <button type="button" class="btn btn-primary" (click)="Set_Autletterrow_Property()">بروزرسانی</button>


      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="loadingresponse" tabindex="-1" aria-labelledby="loadingresponseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7; border-radius: 10px; border: none;">
      <div class="modal-body d-flex justify-content-center align-items-center" style="height: 150px;">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="ms-3">لطفا منتظر بمانید</div>
      </div>
    </div>
  </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container invalid-feedback">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>