<div class="card"
  style="background: url('./assets/images/Dashboard.jpg') no-repeat center center; background-size: cover; height: 100vh;">
  <div class="card-body" style="height: 100%; display: flex; flex-direction: column;">

    <!-- اسکرول محتوا -->
    <div style="flex: 1; overflow-y: auto; padding: 10px;">

      <ng-container *ngIf="!loading_supportatt">
        <div class="d-flex justify-content-between align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card" style="background-color: rgba(255, 255, 255, 1); padding: 20px;">
                  <div class="card-header">
                    <h5 class="card-title">گزارش وضعیت حضور</h5>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="text-center">گارشناس </th>
                          <th class="text-center">تاریخ</th>
                          <th class="text-center">وضعیت حضور</th>
                          <th class="text-center">عملیات</th>

                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let item of Attendance_Data">
                          <tr class="text-center">
                            <td>{{ item.PhFirstName +' '+ item.PhLastName|| '-' }}</td>
                            <td>{{ formatToJalali(item.AttendanceDate) }}</td>
                            <td class="text-center">
                              <span class="badge fw-bold fs-5 px-3 py-2" [ngClass]="{
                                'bg-success': item.Status === '1',
                                'bg-warning text-dark': item.Status === '2',
                                'bg-danger': item.Status === '0',
                                'bg-info text-dark': item.Status === '3'
                              }">
                                {{
                                item.Status === '1' ? 'آزاد' :
                                item.Status === '2' ? 'در حال کار' :
                                item.Status === '0' ? 'عدم حضور' :
                                item.Status === '3' ? 'مرخصی موقت' :
                                'نامشخص'
                                }}
                              </span>

                            </td>
                            <td>
                              <button class="btn btn-sm btn-primary" (click)="SetLetter_config(item)">
                                تیکت
                              </button>
                            </td>

                          </tr>
                        </ng-container>
                        <tr *ngIf="reportData.length === 0">
                          <td colspan="4" class="text-center">داده‌ای یافت نشد</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>



      <ng-container *ngIf="!loading_supportpanel">

        <div class="d-flex justify-content-between align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card" style="background-color: rgba(255, 255, 255, 1); padding: 20px;">
                  <div class="card-header">
                    <h5 class="card-title">گزارش پشتیبانی پنل</h5>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="text-center">نام پشتیبان</th>
                          <th class="text-center">تعداد فاکتور بدون رکورد</th>
                          <th class="text-center">تعداد فاکتور باز</th>
                          <th class="text-center">تعداد کل فاکتورها</th>
                          <th class="text-center">تعداد ردیف‌ها</th>
                          <th class="text-center">مجموع کارکرد</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let row of reportData">
                          <tr class="text-center">
                            <td>{{ row.BrokerNameWithoutType }}</td>

                            <!-- بدون رکورد و فاکتور باز -->
                            <td
                              [ngClass]="{'text-danger': row.WithoutRows > 0, 'fw-bold': row.WithoutRows > 0, 'fs-2': row.WithoutRows > 0}">
                              {{ row.WithoutRows }}
                            </td>
                            <td
                              [ngClass]="{'text-danger': row.OpenFactor > 0, 'fw-bold': row.OpenFactor > 0, 'fs-2': row.OpenFactor > 0}">
                              {{ row.OpenFactor }}
                            </td>

                            <!-- بقیه ستون‌ها -->
                            <td>{{ row.Factors }}</td>
                            <td>{{ row.RowsCount }}</td>
                            <td>{{ row.TotalWork }}</td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>
      </ng-container>




    </div>
    <!-- پایان محتوای اسکرول -->

  </div>
</div>



<div class="modal fade" id="letterexplain" tabindex="-1" aria-labelledby="letterexplainLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="letterexplainLabel">{{letterexplain_modal_title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="letterexplain_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_LetterToEmployer" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">


                  <div class="form-group col-md-12">
                    <label for="DescriptionText" class="col-form-label">شرح</label>
                    <input type="text" class="form-control" id="DescriptionText" formControlName="DescriptionText"
                      maxlength="100" autocomplete="off" />
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="letterexplain_dialog_close()">بستن</button>
        <button type="button" class="btn btn-primary" (click)="SendLetterToEmployer()">ارسال تیکت</button>
      </div>
    </div>
  </div>
</div>