<div class="card-body">
  <h4 class="header-title mb-4"> {{title}}</h4>



  <div class="tab-content">



    <div class="tab-pane active" id="GoodBase">



      <form [formGroup]="EditForm_LeaveRequest" id="submitForm">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body row">

                <div class="col-md-12">
                  <div class="row">
                    <div class="form-group col-md-3">
                      <label for="LeaveRequestDate" class="form-label">تاریخ درخواست</label>
                      <input formControlName="LeaveRequestDate" id="LeaveRequestDate" class="form-control" rows="4"
                        autocomplete="off" readonly>
                    </div>

                    <!-- 
                    <div class="form-group col-md-3">
                      <label for="LeaveRequestType" class="form-label">نوع مرخصی</label>

                      <select formControlName="LeaveRequestType" id="LeaveRequestType"
                        class="form-control custom-select" (change)="onLeaveTypeChange()">
                        <option value="">لطفاً انتخاب کنید</option>
                        <option [value]="item.id" *ngFor="let item of LeaveType_Lookup">{{item.name}}</option>
                      </select>

                    </div> -->


                    <div class="form-group col-md-3">
                      <label for="LeaveRequestType" class="form-label">نوع مرخصی</label>
                      <select class="form-select" id="LeaveRequestType" formControlName="LeaveRequestType"
                        (change)="onLeaveTypeChange()" [ngClass]="{
                              'is-invalid': EditForm_LeaveRequest.controls['LeaveRequestType'].invalid &&
                                            EditForm_LeaveRequest.controls['LeaveRequestType'].touched,
                              'is-valid': EditForm_LeaveRequest.controls['LeaveRequestType'].valid &&
                                          EditForm_LeaveRequest.controls['LeaveRequestType'].touched
                            }">
                        <option value="">لطفاً انتخاب کنید</option>
                        <option [value]="item.id" *ngFor="let item of LeaveType_Lookup">{{item.name}}</option>
                      </select>

                      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                              validation: 'required',
                              message: 'انتخاب نوع مرخصی الزامی است.',
                              control: EditForm_LeaveRequest.controls['LeaveRequestType']
                            }"></ng-container>
                    </div>




                    <div class="form-group col-md-2">
                      <label for="TotalDay" class="form-label">تعداد روز </label>
                      <input formControlName="TotalDay" id="TotalDay" class="form-control" rows="4" autocomplete="off"
                        readonly>
                    </div>


                    <div class="form-group col-md-2">
                      <label for="WorkDay" class="form-label">روز کاری </label>
                      <input formControlName="WorkDay" id="WorkDay" class="form-control" rows="4" autocomplete="off"
                        readonly>
                    </div>

                    <div class="form-group col-md-2">
                      <label for="OffDay" class="form-label">روز تعطیل </label>
                      <input formControlName="OffDay" id="OffDay" class="form-control" rows="4" autocomplete="off"
                        readonly>
                    </div>



                  </div>

                </div>


                <div class="form-group col-md-3">
                  <label for="LeaveStartDate" class="col-form-label">انتخاب تاریخ شروع</label>

                  <div>
                    <ng-persian-datepicker [uiTheme]="customTheme" [uiHideOnOutsideClick]="true"
                      [uiHideAfterSelectDate]="true">
                      <input class="form-control text-center" id="LeaveStartDate" type="text"
                        formControlName="LeaveStartDate" autocomplete="off" placeholder="انتخاب تاریخ شروع" [ngClass]="{
          'is-invalid':
            EditForm_LeaveRequest.controls['LeaveStartDate'].invalid &&
            (EditForm_LeaveRequest.controls['LeaveStartDate'].touched ||
             EditForm_LeaveRequest.controls['LeaveStartDate'].dirty),
          'is-valid':
            EditForm_LeaveRequest.controls['LeaveStartDate'].valid &&
            (EditForm_LeaveRequest.controls['LeaveStartDate'].touched ||
             EditForm_LeaveRequest.controls['LeaveStartDate'].dirty)
        }" />
                    </ng-persian-datepicker>
                  </div>

                  <!-- نمایش خطای required -->
                  <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'تاریخ شروع الزامی است.',
      control: EditForm_LeaveRequest.controls['LeaveStartDate']
    }"></ng-container>
                </div>


                <ng-container *ngIf="!showTimeFields">
                  <div class="form-group col-md-3">
                    <label for="LeaveEndDate" class="col-form-label">انتخاب تاریخ پایان</label>
                    <div>
                      <ng-persian-datepicker [uiTheme]="customTheme" [uiHideOnOutsideClick]="true"
                        [uiHideAfterSelectDate]="true">
                        <input class="form-control text-center" id="LeaveEndDate" type="text"
                          formControlName="LeaveEndDate" autocomplete="off" placeholder="انتخاب تاریخ پایان" />
                      </ng-persian-datepicker>
                    </div>
                  </div>
                </ng-container>



                <ng-container *ngIf="showTimeFields">
                  <div class="form-group col-md-3">
                    <label for="LeaveEndDate" class="form-label">انتخاب تاریخ پایان</label>

                    <input formControlName="LeaveEndDate" id="LeaveEndDate" class="form-control text-center"
                      autocomplete="off" readonly [ngClass]="{
                      'is-invalid':
                        EditForm_LeaveRequest.controls['LeaveEndDate'].invalid &&
                        (EditForm_LeaveRequest.controls['LeaveEndDate'].dirty ||
                        EditForm_LeaveRequest.controls['LeaveEndDate'].touched),
                      'is-valid':
                        EditForm_LeaveRequest.controls['LeaveEndDate'].valid &&
                        (EditForm_LeaveRequest.controls['LeaveEndDate'].dirty ||
                        EditForm_LeaveRequest.controls['LeaveEndDate'].touched)
                    }" />

                    <!-- خطای required -->
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'تاریخ پایان الزامی است.',
                      control: EditForm_LeaveRequest.controls['LeaveEndDate']
                    }"></ng-container>

                    <!-- خطای custom برای تاریخ نامعتبر -->
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                      validation: 'invalidDate',
                      message: 'تاریخ پایان نمی‌تواند قبل از تاریخ شروع باشد.',
                      control: EditForm_LeaveRequest.controls['LeaveEndDate']
                    }"></ng-container>
                  </div>


                </ng-container>


                <ng-container *ngIf="showTimeFields">


                  <div class="form-group col-md-3">
                    <label for="LeaveStartTime" class="form-label">از ساعت</label>
                    <input formControlName="LeaveStartTime" id="LeaveStartTime" class="form-control" type="time"
                      step="60" [ngClass]="{
        'is-invalid': EditForm_LeaveRequest.controls['LeaveStartTime'].invalid &&
                      EditForm_LeaveRequest.controls['LeaveStartTime'].touched
      }">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'ساعت شروع الزامی است.',
        control: EditForm_LeaveRequest.controls['LeaveStartTime']
      }"></ng-container>
                  </div>



                  <div class="form-group col-md-3">
                    <label for="LeaveEndTime" class="form-label">تا ساعت</label>
                    <input formControlName="LeaveEndTime" id="LeaveEndTime" class="form-control" type="time"
                      autocomplete="off" [ngClass]="{
        'is-invalid': EditForm_LeaveRequest.controls['LeaveEndTime'].invalid &&
                      EditForm_LeaveRequest.controls['LeaveEndTime'].touched
      }">
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'ساعت پایان الزامی است.',
        control: EditForm_LeaveRequest.controls['LeaveEndTime']
      }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'invalidTime',
        message: 'ساعت پایان باید بعد از ساعت شروع باشد.',
        control: EditForm_LeaveRequest.controls['LeaveEndTime']
      }"></ng-container>
                  </div>
                </ng-container>

                <div class="form-group col-md-12">
                  <label for="LeaveRequestExplain" class="form-label">توضیحات</label>
                  <textarea formControlName="LeaveRequestExplain" id="LeaveRequestExplain" class="form-control" rows="4"
                    autocomplete="off"></textarea>
                </div>


              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="card">
        <div class="card-body">
          <div class="col-sm-12">

            <a href="javascript:void(0)" type="button" class="btn btn-success waves-effect waves-light mx-1"
              (click)="submit()">
              <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره و بازگشت
            </a>


          </div>
        </div>
      </div>



      <ng-container *ngIf="LeaveRequestCode.length>0">

        <app-leavereq-attach [TextData]="LeaveRequestCode"></app-leavereq-attach>

      </ng-container>


    </div>



    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container invalid-feedback">
          <span role="alert">
            {{ message }}
          </span>
        </div>
      </ng-container>
    </ng-template>