<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ title }}</h4>
    <div class="row mb-2">
      <div class="col-sm-12">


        <div class="row">
          <!-- Search Input -->
          <div class="form-group col-md-3">
            <label for="searchTerm" class="col-form-label">جستجو</label>
            <input class="form-control" id="searchTerm" type="text" [(ngModel)]="searchTerm"
              (ngModelChange)="onInputChange()" [ngModelOptions]="{ standalone: true }" />
          </div>

          <!-- Ticket Display Option -->
          <div class="form-group col-md-3">
            <label for="ticketDisplay" class="col-form-label">نمایش تیکت‌ها</label>
            <select class="form-control" id="ticketDisplay" [(ngModel)]="selectedOption">
              <option [value]="'0'">همه</option>
              <option [value]="'1'">خودم</option>
            </select>
          </div>

          <!-- Date Picker -->
          <div class="form-group col-md-3">
            <label for="datePicker" class="col-form-label">تاریخ</label>
            <div>
              <ng-persian-datepicker style="position: absolute; z-index: 1;" [uiTheme]="customTheme"
                [uiHideOnOutsideClick]="false" [uiHideAfterSelectDate]="true">
                <input class="form-control" id="datePicker" type="text" [formControl]="dateValue" />
              </ng-persian-datepicker>
            </div>

          </div>


        </div>


        <!-- <input cFormControl type="text" class="form-control" placeholder="جستجو..." type="text"
          [(ngModel)]="Searchtarget" (ngModelChange)="onInputChange()" [ngModelOptions]="{ standalone: true }" /> -->
        <a type="button" class="btn btn-primary waves-effect waves-light m-1" (click)="LoadList()">
          <span class="btn-label"><i class="fas fa-plus"></i></span>جستجو
        </a>
        <a type="button" class="btn btn-success waves-effect waves-light m-1" [routerLink]="['/autletter/insert', 0]">
          <span class="btn-label"><i class="fas fa-plus"></i></span>جدید
        </a>
        <a type="button" class="btn btn-light waves-effect waves-light m-1" (click)="getList()">
          <span class="btn-label"><i class="fas fa-recycle"></i></span>بازخوانی
        </a>
        <a type="button" class="btn btn-light waves-effect waves-light m-1" (click)="removeAllFilters()">
          <span class="btn-label"><i class="fas fa-eye-slash"></i></span>حذف
          جستجو
        </a>
        <div class="btn-group">
          <!-- *hasPermission="['Public']" -->
          <button type="button" class="btn btn-light waves-effect waves-light m-1 dropdown-toggle" id="exportdropdown"
            data-bs-toggle="dropdown" aria-expanded="false">
            دریافت خروجی <i class="mdi mdi-chevron-down"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="exportdropdown">
            <button class="dropdown-item" type="button" (click)="onExportExcel()">
              Excel <i class="fas fa-file-excel"></i>
            </button>
            <button class="dropdown-item" type="button" (click)="onExportCSV()">
              CSV <i class="fas fa-file-csv"></i>
            </button>


          </div>
        </div>
      </div>


    </div>

    <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: auto" class="ag-theme-material"
      [rowData]="records" [columnDefs]="columnDefs" [modules]="modules" [localeText]="localeText"
      [defaultColDef]="defaultColDef" [enableRtl]="true" (gridReady)="onGridReady($event)" [pagination]="true"
      [frameworkComponents]="frameworkComponents" [context]="context">
    </ag-grid-angular>
  </div>
</div>