<div class="kws-ringgroup-page">
  <app-ringgroup-page-header [vm]="vm"></app-ringgroup-page-header>

  <app-ringgroup-stat-cards [vm]="vm"></app-ringgroup-stat-cards>

  <app-ringgroup-filter-card [vm]="vm"></app-ringgroup-filter-card>

  <app-ringgroup-workspace [vm]="vm"></app-ringgroup-workspace>
</div>

<app-ringgroup-basic-modal [vm]="vm"></app-ringgroup-basic-modal>

<app-ringgroup-members-modal [vm]="vm"></app-ringgroup-members-modal>

<app-ringgroup-postdest-modal [vm]="vm"></app-ringgroup-postdest-modal>
