<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">ویرایش</h4>
    </div>
  </div>
</div>

<form [formGroup]="EditForm" (ngSubmit)="submit('')" id="submitForm">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body row">







          <div class="form-group col-md-4">
            <label for="AppBrokerCustomerCode" class="col-form-label">AppBrokerCustomerCode </label>
            <input type="text" class="form-control" id="AppBrokerCustomerCode" formControlName="AppBrokerCustomerCode"
              maxlength="100" autocomplete="off" [readOnly]="true" />
          </div>




          <div class="form-group col-md-4">
            <label for="ActivationCode" class="col-form-label">ActivationCode </label>
            <input type="text" class="form-control" id="ActivationCode" formControlName="ActivationCode" maxlength="100"
              autocomplete="off" />
          </div>




          <div class="form-group col-md-4">
            <label for="PersianCompanyName" class="col-form-label">PersianCompanyName </label>
            <input type="text" class="form-control" id="PersianCompanyName" formControlName="PersianCompanyName"
              maxlength="100" autocomplete="off" />
          </div>




          <div class="form-group col-md-4">
            <label for="EnglishCompanyName" class="col-form-label">EnglishCompanyName </label>
            <input type="text" class="form-control" id="EnglishCompanyName" formControlName="EnglishCompanyName"
              maxlength="100" autocomplete="off" />
          </div>




          <div class="form-group col-md-4">
            <label for="ServerURL" class="col-form-label">ServerURL </label>
            <input type="text" class="form-control" id="ServerURL" formControlName="ServerURL" maxlength="100"
              autocomplete="off" />
          </div>




          <div class="form-group col-md-4">
            <label for="SecendServerURL" class="col-form-label">SecendServerURL </label>
            <input type="text" class="form-control" id="SecendServerURL" formControlName="SecendServerURL"
              maxlength="100" autocomplete="off" />
          </div>




          <div class="form-group col-md-4">
            <label for="SQLiteURL" class="col-form-label">SQLiteURL </label>
            <input type="text" class="form-control" id="SQLiteURL" formControlName="SQLiteURL" maxlength="100"
              autocomplete="off" />
          </div>




          <div class="form-group col-md-4">
            <label for="AppType" class="col-form-label">AppType </label>
            <input type="text" class="form-control" id="AppType" formControlName="AppType" maxlength="100"
              autocomplete="off" />
          </div>




          <div class="form-group col-md-4">
            <label for="DbName" class="col-form-label">DbName </label>
            <input type="text" class="form-control" id="DbName" formControlName="DbName" maxlength="100"
              autocomplete="off" />
          </div>




          <div class="form-group col-md-4">
            <label for="DbImageName" class="col-form-label">DbImageName </label>
            <input type="text" class="form-control" id="DbImageName" formControlName="DbImageName" maxlength="100"
              autocomplete="off" />
          </div>






        </div>
      </div>
    </div>
  </div>
</form>

<div class="card">
  <div class="card-body">
    <div class="col-sm-6">
      <a href="javascript:void(0)" type="button" class="btn btn-success waves-effect waves-light mr-1"
        (click)="submit('exit')">
        <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره و خروج
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="submit('')">
        <span class="btn-label"><i class="fas fa-check"></i></span>ذخیره
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="submit('new')">
        <span class="btn-label"><i class="fas fa-plus"></i></span>ذخیره و جدید
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mr-1"
        (click)="onBtnCancelClick()">
        <span class="btn-label"><i class="fas fa-times"></i></span>انصراف
      </a>
    </div>
  </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container invalid-feedback">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>











<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">ثبت نرم افزار </h5>
    <form>
      <div class="form-row">
        <div class="col-md-16 mb-3">
          <label for="ActivationCode" class="form-label">کد فعال سازی</label>
          <input type="text" class="form-control" id="ActivationCode" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="formValues.ActivationCode">
        </div>
      </div>



      <div class="form-row">
        <div class="col-md-16 mb-3">

          <label for="EnglishCompanyName" class="form-label">نام انگلیسی مجموعه</label>
          <input type="text" class="form-control" id="EnglishCompanyName" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="formValues.EnglishCompanyName">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-16 mb-3"> <label for="PersianCompanyName" class="form-label">نام فارسی مجموعه</label>
          <input type="text" class="form-control" id="PersianCompanyName" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="formValues.PersianCompanyName">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-16 mb-3"> <label for="ServerURL" class="form-label">ادرس یرور</label> <input type="text"
            class="form-control" id="ServerURL" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="formValues.ServerURL"> </div>
      </div>
      <div class="form-row">
        <div class="col-md-16 mb-3"> <label for="SQLiteURL" class="form-label">ادرس دیتابیس</label> <input type="text"
            class="form-control" id="SQLiteURL" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="formValues.SQLiteURL"> </div>
      </div>
      <div class="form-row">
        <div class="col-md-16 mb-3"> <label for="MaxDevice" class="form-label">تعداد دستگاه</label> <input type="text"
            class="form-control" id="MaxDevice" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="formValues.MaxDevice"> </div>
      </div>
      <div class="form-row">
        <div class="col-md-16 mb-3"> <label for="SecendServerURL" class="form-label">ادرس دوم مجموعه</label> <input
            type="text" class="form-control" id="SecendServerURL" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="formValues.SecendServerURL"> </div>
      </div>
      <div class="form-row">
        <div class="col-md-16 mb-3"> <label for="DbName" class="form-label">نام دیتابیس</label> <input type="text"
            class="form-control" id="DbName" [ngModelOptions]="{ standalone: true }" [(ngModel)]="formValues.DbName">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-16 mb-3"> <label for="AppType" class="form-label">نوع نرم افزار</label> <input type="text"
            class="form-control" id="AppType" [ngModelOptions]="{ standalone: true }" [(ngModel)]="formValues.AppType">
        </div>
      </div>



      <div class="form-row">
        <div class="col-md-6 mb-3">
          <button class="btn btn-primary btn-block" type="button" (click)="logFormData()">ثبت کردن</button>
        </div>
      </div>
    </form>
  </div>
</div> -->