<div class="card-body">
  <div class="tab-content">

    <div class="tab-pane fade show active" role="tabpanel">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ title }}</h4>
          <div class="row mb-2">
            <div class="col-sm-8">


              <div class="form-group">
                <!-- *hasPermission="['Public']" -->

                <input cFormControl type="text" class="form-control" placeholder="جستجو..." type="text"
                  [(ngModel)]="Searchtarget" (ngModelChange)="onInputChange()"
                  [ngModelOptions]="{ standalone: true }" />


              </div>

            </div>

            <div class="btn-group col-sm-4">
              <button type="button" class="btn btn-light waves-effect waves-light m-1 dropdown-toggle"
                id="exportdropdown" data-bs-toggle="dropdown" aria-expanded="false">
                دریافت خروجی <i class="mdi mdi-chevron-down"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="exportdropdown">
                <button class="dropdown-item" type="button" (click)="onExportExcel()">
                  Excel <i class="fas fa-file-excel"></i>
                </button>
                <button class="dropdown-item" type="button" (click)="onExportCSV()">
                  CSV <i class="fas fa-file-csv"></i>
                </button>


              </div>
            </div>
          </div>


          <!-- Show loading indicator when data is being fetched -->
          <div *ngIf="loading" class="text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: auto" [rowData]="records"
            [columnDefs]="columnDefs" [modules]="modules" [localeText]="localeText" [defaultColDef]="defaultColDef"
            [enableRtl]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"
            [pagination]="true" [context]="context" class="ag-theme-alpine" [columnDefs]="columnDefs"
            [frameworkComponents]="frameworkComponents" [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
            (selectionChanged)="onSelectionChanged($event)">
          </ag-grid-angular>
        </div>
      </div>







    </div>

  </div>
</div>

<div class="modal fade" id="customerexplain" tabindex="-1" aria-labelledby="customerexplainLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="customerexplainLabel">Explain</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="explain_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_explain" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">

                  <div class="form-group col-md-12">
                    <label for="Explain" class="col-form-label">پشتیبانی </label>
                    <input type="text" class="form-control" id="Explain" formControlName="Explain" maxlength="100"
                      autocomplete="off" />
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="explain_dialog_close()">بستن</button>

        <ng-container *ngIf="PhAddress3=='100'">
          <button type="button" class="btn btn-primary" (click)="Set_Customer_Explain()">بروزرسانی</button>

        </ng-container>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="customerproperty" tabindex="-1" aria-labelledby="customerpropertyLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="customerpropertyLabel">جزئیات</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="property_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_property" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">


                  <div class="form-group col-md-12">
                    <label for="CustName_Small" class="col-form-label">CustName_Small </label>
                    <input type="text" class="form-control" id="CustName_Small" formControlName="CustName_Small"
                      maxlength="100" autocomplete="off" readonly />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="Delegacy" class="col-form-label">Delegacy </label>
                    <input type="text" class="form-control" id="Delegacy" formControlName="Delegacy" maxlength="100"
                      autocomplete="off" readonly />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="Manager" class="col-form-label">Manager </label>
                    <input type="text" class="form-control" id="Manager" formControlName="Manager" maxlength="100"
                      autocomplete="off" readonly />
                  </div>


                  <div class="form-group col-md-12">
                    <label for="AppNumber" class="col-form-label">نسخه نرم افزار </label>
                    <input type="text" class="form-control" id="AppNumber" formControlName="AppNumber" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="DatabaseNumber" class="col-form-label">دیتابیس </label>
                    <input type="text" class="form-control" id="DatabaseNumber" formControlName="DatabaseNumber"
                      maxlength="100" autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="LockNumber" class="col-form-label">تعداد قفل </label>
                    <input type="text" class="form-control" id="LockNumber" formControlName="LockNumber" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="Address" class="col-form-label">آدرس </label>
                    <input type="text" class="form-control" id="Address" formControlName="Address" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="CityName" class="col-form-label">شهر </label>
                    <input type="text" class="form-control" id="CityName" formControlName="CityName" maxlength="100"
                      autocomplete="off" readonly />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="OstanName" class="col-form-label">استان </label>
                    <input type="text" class="form-control" id="OstanName" formControlName="OstanName" maxlength="100"
                      autocomplete="off" readonly />
                  </div>


                  <div class="form-group col-md-12">
                    <label for="Phone" class="col-form-label">Phone </label>
                    <input type="text" class="form-control" id="Phone" formControlName="Phone" maxlength="100"
                      autocomplete="off" readonly />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="PostCode" class="col-form-label">PostCode </label>
                    <input type="text" class="form-control" id="PostCode" formControlName="PostCode" maxlength="100"
                      autocomplete="off" readonly />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="Mobile" class="col-form-label">Mobile </label>
                    <input type="text" class="form-control" id="Mobile" formControlName="Mobile" maxlength="100"
                      autocomplete="off" readonly />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="MobileName" class="col-form-label">MobileName </label>
                    <input type="text" class="form-control" id="MobileName" formControlName="MobileName" maxlength="100"
                      autocomplete="off" readonly />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="ZipCode" class="col-form-label">ZipCode </label>
                    <input type="text" class="form-control" id="ZipCode" formControlName="ZipCode" maxlength="100"
                      autocomplete="off" readonly />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="Email" class="col-form-label">Email </label>
                    <input type="text" class="form-control" id="Email" formControlName="Email" maxlength="100"
                      autocomplete="off" readonly />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="Fax" class="col-form-label">Fax </label>
                    <input type="text" class="form-control" id="Fax" formControlName="Fax" maxlength="100"
                      autocomplete="off" readonly />
                  </div>



                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="property_dialog_close()">بستن</button>
        <!-- <ng-container *ngIf="PhAddress3=='100'">
          <button type="button" class="btn btn-primary" (click)="Set_Customer_Property()">بروزرسانی</button>

        </ng-container> -->

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editcustomerproperty" tabindex="-1" aria-labelledby="editcustomerpropertyLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="editcustomerpropertyLabel">جزئیات</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="Edit_property_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_property" id="submitForm">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">


                  <div class="form-group col-md-12">
                    <label for="CustName_Small" class="col-form-label">نام مشتری</label>
                    <input type="text" class="form-control" id="CustName_Small" formControlName="CustName_Small"
                      maxlength="100" autocomplete="off" readonly />
                  </div>



                  <div class="form-group col-md-12">
                    <label for="AppNumber" class="col-form-label">نسخه نرم افزار </label>
                    <input type="text" class="form-control" id="AppNumber" formControlName="AppNumber" maxlength="100"
                      autocomplete="off" />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="DatabaseNumber" class="col-form-label">دیتابیس </label>
                    <input type="text" class="form-control" id="DatabaseNumber" formControlName="DatabaseNumber"
                      maxlength="100" autocomplete="off" />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="Delegacy" class="col-form-label">تعداد قفل </label>
                    <input type="text" class="form-control" id="Delegacy" formControlName="Delegacy" maxlength="100"
                      autocomplete="off" />
                  </div>



                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="Edit_property_dialog_close()">بستن</button>
        <button type="button" class="btn btn-primary" (click)="Set_Customer_Property()">بروزرسانی</button>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="customerfactor" tabindex="-1" aria-labelledby="customerfactorLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="customerfactorLabel">فاکتور های مشتری</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="CustomerFactor_dialog_close()"></button>
      </div>
      <div class="modal-body">


        <div *ngIf="loading" class="text-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: auto" [rowData]="records_factor"
          [columnDefs]="columnDefs1" [modules]="modules" [localeText]="localeText" [defaultColDef]="defaultColDef"
          [enableRtl]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [pagination]="true"
          [context]="context" class="ag-theme-alpine" [frameworkComponents]="frameworkComponents"
          [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
          (selectionChanged)="onSelectionChanged($event)">
        </ag-grid-angular>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="CustomerFactor_dialog_close()">بستن</button>
      </div>
    </div>
  </div>
</div>