<div class="santral-phonebook-page" dir="rtl">
  <app-phonebook-header [vm]="vm"></app-phonebook-header>

  <app-phonebook-tabs [vm]="vm"></app-phonebook-tabs>

  <app-phonebook-contacts-tab [vm]="vm"></app-phonebook-contacts-tab>

  <app-phonebook-unknown-tab [vm]="vm"></app-phonebook-unknown-tab>

  <app-phonebook-number-report-tab [vm]="vm"></app-phonebook-number-report-tab>

  <app-phonebook-kowsar-audit-tab [vm]="vm"></app-phonebook-kowsar-audit-tab>
</div>

<app-phonebook-edit-modal [vm]="vm"></app-phonebook-edit-modal>

<app-phonebook-details-modal [vm]="vm"></app-phonebook-details-modal>

<app-phonebook-central-link-modal [vm]="vm"></app-phonebook-central-link-modal>
