<div>
  <div class="card">
    <div class="border-bottom border-light card-body">
      <div class="d-flex py-1">
        <div class="flex-1">
          <h5><a class="text-reset">مکالمات اخیر</a></h5>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div data-simplebar="init" style="height: 465px; width: 100%; overflow-x: hidden;">
        <div class="simplebar-wrapper" style="margin: 0px;">
          <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
          </div>
          <div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
              <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                style="height: 100%; overflow: hidden scroll;">
                <div class="simplebar-content" style="padding: 0px;">


                  <ul class="conversation-list chat-app-conversation" #itemListRef>
                    <div *ngFor="let chat of chats; let i = index" class="item-sdsd" #listItem>
                      <ng-container *ngIf="chat.CentralRef === CentralRef; else notMe">
                        <li class="clearfix">
                          <div class="chat-avatar">
                            <img src="./assets/images/logo_color.png" class="rounded" alt="">
                          </div>
                          <div class="conversation-text">
                            <ng-container *ngIf="chat.ConversationText === 'Image'; else notimage">
                              <div class="ctext-wrap">
                                <i>{{ chat.Name }}</i>
                                <i>{{ chat.CreationDate }}</i>
                                <i class="fe-paperclip"></i>
                                <button (click)="GetImage(i)" class="rounded-pill btn btn-outline-info"
                                  data-bs-toggle="modal" data-bs-target="#verticallyCenteredModal">
                                  ((نمایش تصویر))
                                </button>
                              </div>
                            </ng-container>
                            <ng-template #notimage>
                              <div class="ctext-wrap">
                                <i>{{ chat.Name }}</i>
                                <i>{{ chat.CreationDate }}</i>
                                <p>{{ chat.ConversationText }}</p>
                              </div>
                            </ng-template>
                          </div>
                          <div class="conversation-actions dropdown">
                            <a class="btn-sm card-drop cursor-pointer dropdown-toggle" id="react-aria{{ i }}-15"
                              aria-expanded="false">
                              <i class="mdi mdi-dots-vertical font-16"></i>
                            </a>
                          </div>
                        </li>
                      </ng-container>
                      <ng-template #notMe>
                        <li class="clearfix odd">
                          <div class="chat-avatar">
                            <img src="./assets/images/logo_color.png" class="rounded" alt="">
                          </div>
                          <div class="conversation-text">
                            <ng-container *ngIf="chat.ConversationText === 'Image'; else notimage">
                              <div class="ctext-wrap">
                                <i>{{ chat.Name }}</i>
                                <i>{{ chat.CreationDate }}</i>
                                <div class="ctext-wrap">
                                  <i>{{ chat.ConversationText }}</i>
                                  <i class="fe-paperclip"></i>
                                  <button (click)="GetImage(i)" class="rounded-pill btn btn-outline-info"
                                    data-bs-toggle="modal" data-bs-target="#verticallyCenteredModal">
                                    ((نمایش تصویر))
                                  </button>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #notimage>
                              <div class="ctext-wrap">
                                <i>{{ chat.Name }}</i>
                                <i>{{ chat.CreationDate }}</i>
                                <p>{{ chat.ConversationText }}</p>
                              </div>
                            </ng-template>
                          </div>
                          <div class="conversation-actions dropdown">
                            <a class="btn-sm card-drop cursor-pointer dropdown-toggle" id="react-aria{{ i }}-16"
                              aria-expanded="false">
                              <i class="mdi mdi-dots-vertical font-16"></i>
                            </a>
                          </div>
                        </li>
                      </ng-template>
                    </div>
                  </ul>

                </div>
              </div>
            </div>
          </div>
          <div class="simplebar-placeholder" style="width: auto; height: 924px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
          <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
          <div class="simplebar-scrollbar"
            style="height: 234px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mt-3 bg-light p-3 rounded">
            <form novalidate="" name="chat-form" id="chat-form">
              <div class="row">
                <div class="col mb-2 mb-sm-0">
                  <div>
                    <input [(ngModel)]="newMessage" class="border-10 form-control" name="newMessage"
                      placeholder="متن پیام..." />
                  </div>
                </div>
                <div class="col-sm-auto">
                  <div class="btn-group">
                    <a class="btn btn-light" (click)="fileInput.click()">
                      <i class="fe-paperclip"></i>
                    </a>
                    <input type="file" (change)="onFileSelected($event)" id="fileInput" #fileInput
                      style="display: none;">
                    <button type="submit" class="btn btn-success chat-send w-100" (click)="sendMessage()">
                      <i class="fe-send">
                      </i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="verticallyCenteredModal" tabindex="-1" aria-labelledby="verticallyCenteredModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verticallyCenteredModalLabel"> نمایش عکس</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <img [src]="Imageitem" alt="No Photo">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>