<div class="mb-1 mt-1">
  <label class="sr-only" [for]="identity">{{label}}</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">{{label}}
        <span class="text-danger" *ngIf="required"> *</span>
      </div>
    </div>

    <ng-container [ngSwitch]="type">

      <ng-container *ngSwitchCase="'text'">
        <input type="text" [id]="identity" class="form-control" [placeholder]="placeholder" [value]="value"
          [disabled]="isDisabled" (input)="valueChanged($event)" (blur)="onTouched()" autocomplete="off"
          [attr.required]="required || null" (keyup.enter)="keyup('enter')"[attr.minLength]="min ? min : null" [attr.maxLength]="max ? max : null">
      </ng-container>

      <ng-container *ngSwitchCase="'number'">
        <input type="number" step="0.001" [id]="identity" class="form-control" [placeholder]="placeholder"
          [value]="value" [disabled]="isDisabled" (input)="valueChanged($event)" (blur)="onTouched()" autocomplete="off"
          [attr.required]="required || null" [attr.min]="min ? min : null" [attr.max]="max ? max : null">
      </ng-container>

      <ng-container *ngSwitchCase="'date'">
        <input [id]="identity" class="form-control" [placeholder]="placeholder" [value]="value" [disabled]="isDisabled"
          (input)="valueChanged($event)" (blur)="onTouched()" [input]="value" autocomplete="off"
          [attr.required]="required || null" appDateMask data-date />
      </ng-container>

      <!-- <ng-container *ngSwitchCase="'color'">
        <input type="color" [id]="identity" class="form-control" [placeholder]="placeholder" [value]="value"
          [disabled]="isDisabled" (input)="valueChanged($event)" (blur)="onTouched()" [input]="value" autocomplete="off"
          [attr.required]="required || null" />
      </ng-container> -->

    </ng-container>

    <ng-content></ng-content>

  </div>
</div>