<form [formGroup]="EditForm_Base" (ngSubmit)="submit('')" id="submitForm">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body row">



          <div class="row col-md-12">


            <div class="form-group col-md-3">
              <label for="GoodCode" class="col-form-label">کد سیستمی کالا </label>
              <input type="text" class="form-control" id="GoodCode" formControlName="GoodCode" maxlength="100"
                autocomplete="off" [readOnly]="true" />
            </div>

            <div class="form-group col-md-3">
              <label for="GoodMainCode" class="col-form-label">کد اصلی</label>
              <input type="text" class="form-control" id="GoodMainCode" formControlName="GoodMainCode" maxlength="100"
                autocomplete="off" />
            </div>


            <div class="form-group col-md-3">
              <label for="GoodSubCode" class="col-form-label">کد زیر مجموعه </label>
              <input type="text" class="form-control" id="GoodSubCode" formControlName="GoodSubCode" maxlength="3"
                autocomplete="off" />
            </div>



            <div class="form-group col-md-3">
              <label for="SellPriceType" class="col-form-label">نرخ فروش </label>
              <label for="OwnerCentral" class="col-form-label " style="color: #767de0;"> (انتخابی) </label>
              <select formControlName="SellPriceType" id="SellPriceType" class="form-control custom-select"
                data-toggle="select2" (change)="onSellPriceTypeChange()">
                @for (item of SellPriceType_Lookup; track item) {
                <option [value]="item.id">{{item.name}}</option>
                }
              </select>
            </div>


          </div>




          <div class="row col-md-12">

            <div class="form-group col-md-3">
              <label for="GoodType" class="col-form-label">نوع کالا </label>
              <label for="OwnerCentral" class="col-form-label " style="color: #767de0;"> (انتخابی) </label>
              <select formControlName="GoodType" id="GoodType" class="form-control custom-select" data-toggle="select2">
                @for (item of GoodType_lookup; track item) {
                <option [value]="item.aType">{{item.aType}}</option>
                }
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="Type" class="col-form-label">ماهیت کالا</label>
              <label for="OwnerCentral" class="col-form-label " style="color: #767de0;"> (انتخابی) </label>
              <select formControlName="Type" id="Type" class="form-control custom-select" data-toggle="select2">
                @for (item of Type_Lookup; track item) {
                <option [value]="item.id">{{item.name}}</option>
                }
              </select>
            </div>



            <div class="form-group col-md-3">
              <label for="UsedGood" class="col-form-label">مدل کالا</label>
              <label for="OwnerCentral" class="col-form-label " style="color: #767de0;"> (انتخابی) </label>
              <select formControlName="UsedGood" id="UsedGood" class="form-control custom-select" data-toggle="select2">
                @for (item of UsedGood_Lookup; track item) {
                <option [value]="item.id">{{item.name}}</option>
                }
              </select>
            </div>



          </div>




          <div class="form-group col-md-12">
            <label for="GoodName" class="col-form-label">نام کالا </label>
            <span class="text-danger">*</span>

            <input type="text" class="form-control" id="GoodName" formControlName="GoodName" maxlength="400"
              autocomplete="off" (keyup)="onKeyUp($event)" [ngClass]="{
                      'is-invalid':
                      EditForm_Base.controls['GoodName'].invalid &&
                      EditForm_Base.controls['GoodName'].touched,
                      'is-valid':
                      EditForm_Base.controls['GoodName'].valid &&
                      EditForm_Base.controls['GoodName'].touched
                    }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                              validation: 'required',
                                              message: 'اجباری است',
                                              control: EditForm_Base.controls['GoodName']
                                            }">
            </ng-container>

            @if (simillar_good().length > 0) {
            <table class="table table-bordered table-hover">
              <thead class="table-light">
                <tr>
                  <th>نوع</th>
                  <th>نام</th>
                  <th>فی خالص</th>
                  <th>فی ناخالص</th>
                  <th>عملیات</th>
                </tr>
              </thead>
              <tbody>
                @for (single_object of simillar_good(); track single_object) {
                <tr>
                  <td>{{ single_object.GoodType }}</td>
                  <td>
                    {{ single_object.GoodName.length > 20 ? (single_object.GoodName | slice:0:30) + '...' :
                    single_object.GoodName }}
                  </td>
                  <td>{{ single_object.MinSellPrice }}</td>
                  <td>{{ single_object.MaxSellPrice }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="selectSuggestion(single_object)">انتخاب</button>
                    <button class="btn btn-secondary btn-sm" (click)="GotoSuggestion(single_object)">بازخوانی</button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
            }


          </div>


          <div class="row col-md-12">


            <div class="form-group col-md-3">
              <label for="Isbn" class="col-form-label">شابک </label>
              <input type="text" class="form-control" id="Isbn" formControlName="Isbn" maxlength="100"
                autocomplete="off" />
            </div>


            <div class="form-group col-md-3">


              <button class=" form-control btn btn-link " (click)="SetBarcodeFromIsbn()"> بارکداز شابک</button>



              <input type="text" class="form-control" id="FirstBarCode" formControlName="FirstBarCode" maxlength="100"
                autocomplete="off" [readonly]="Code().length > 0" (click)="Code().length > 0 ? BarCodeModal() : null" />

            </div>




            <div class="form-group col-md-3">

            </div>



            <div class="form-group col-md-3">
              <label for="BarCodePrintState" class="col-form-label">بارکد روی جلد</label>
              <select formControlName="BarCodePrintState" id="BarCodePrintState" class="form-control custom-select"
                data-toggle="select2">
                @for (item of BarCodePrintState_Lookup; track item) {
                <option [value]="item.name">{{item.name}}</option>
                }
              </select>
            </div>

          </div>



          <div class="row col-md-12">


            <div class="form-group col-md-4">
              <label for="SellPrice1" class="col-form-label">نرخ فروش 1 </label>

              @if (SellPriceType_Str()=='1') {
              <span class="text-danger mx-2">%</span>
              }



              <input type="number" class="form-control" id="SellPrice1" formControlName="SellPrice1" maxlength="100"
                autocomplete="off" />
            </div>


            <div class="form-group col-md-4">

              <label for="SellPrice2" class="col-form-label">نرخ فروش 2 </label>
              @if (SellPriceType_Str()=='1') {
              <span class="text-danger mx-2">%</span>
              }
              <input type="number" class="form-control" id="SellPrice2" formControlName="SellPrice2" maxlength="100"
                autocomplete="off" />
            </div>


            <div class="form-group col-md-4">
              <label for="SellPrice3" class="col-form-label">نرخ فروش 3 </label>
              @if (SellPriceType_Str()=='1') {
              <span class="text-danger mx-2">%</span>
              }
              <input type="number" class="form-control" id="SellPrice3" formControlName="SellPrice3" maxlength="100"
                autocomplete="off" />
            </div>
          </div>



          <div class="row col-md-12">


            <div class="form-group col-md-4">
              <label for="SellPrice4" class="col-form-label">نرخ فروش 4 </label>
              @if (SellPriceType_Str()=='1') {
              <span class="text-danger mx-2">%</span>
              }
              <input type="number" class="form-control" id="SellPrice4" formControlName="SellPrice4" maxlength="100"
                autocomplete="off" />
            </div>


            <div class="form-group col-md-4">
              <label for="SellPrice5" class="col-form-label">نرخ فروش 5 </label>
              @if (SellPriceType_Str()=='1') {
              <span class="text-danger mx-2">%</span>
              }
              <input type="number" class="form-control" id="SellPrice5" formControlName="SellPrice5" maxlength="100"
                autocomplete="off" />
            </div>


            <div class="form-group col-md-4">
              <label for="SellPrice6" class="col-form-label">نرخ فروش 6 </label>
              @if (SellPriceType_Str()=='1') {
              <span class="text-danger mx-2">%</span>
              }
              <input type="number" class="form-control" id="SellPrice6" formControlName="SellPrice6" maxlength="100"
                autocomplete="off" />
            </div>
          </div>
          <div class="row col-md-12">

            <div class="form-group col-md-4">
              <label for="MinSellPrice" class="col-form-label">حداقل قیمت فروش </label>
              <input type="number" class="form-control" id="MinSellPrice" formControlName="MinSellPrice" maxlength="100"
                autocomplete="off" />
            </div>

            <div class="form-group col-md-4">

            </div>

            <div class="form-group col-md-4">
              <label for="MaxSellPrice" class="col-form-label">فی ناخالص </label>
              <input type="number" (change)="onMaxPriceTypeChange()" class="form-control" id="MaxSellPrice"
                formControlName="MaxSellPrice" maxlength="100" autocomplete="off" />
            </div>


          </div>


        </div>
      </div>
    </div>
  </div>
</form>

@if (changedValues_show()) {
<div class="card">
  <div class="card-body">
    <div class="col-sm-12">

      @if (Code().length==0) {
      <a href="javascript:void(0)" type="button" class="btn btn-success waves-effect waves-light mx-1"
        (click)="submit('base')">
        <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره و ادامه
      </a>
      <a href="javascript:void(0)" type="button" class="btn btn-info waves-effect waves-light mx-1"
        (click)="submit('base_new')">
        <span class="btn-label"><i class="fas fa-plus"></i></span>ذخیره و جدید
      </a>
      } @else{
      <a href="javascript:void(0)" type="button" class="btn btn-success waves-effect waves-light mx-1"
        (click)="submit('base')">
        <span class="btn-label"><i class="fas fa-check-double"></i></span>ذخیره
      </a>

      }





      <a href="javascript:void(0)" type="button" class="btn btn-light waves-effect waves-light mx-1"
        (click)="changedValues_cansel_base()">
        <span class="btn-label"><i class="fas fa-times"></i></span>انصراف
      </a>



    </div>
  </div>
</div>
}



<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  @if (control.hasError(validation) && (control.dirty || control.touched)) {
  <div class="fv-plugins-message-container invalid-feedback">
    <span role="alert">
      {{ message }}
    </span>
  </div>
  }
</ng-template>




<div class="modal fade" id="Barcodemodal" tabindex="-1" aria-labelledby="BarcodemodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class=" modal-title" id="BarcodemodalLabel">لیست بارکد ها</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="barcode_dialog_close()"></button>
      </div>
      <div class="modal-body">
        <!-- <div class="card mt-3">
                <div class="card-body row justify-content-center">

                  <div class="col-md-6 border border-info p-3 rounded">

                    <div class="form-group d-flex align-items-center">
                      <input class="form-control mr-2" [formControl]="barcodeControl" placeholder="بارکد جدید"
                        (input)="onBarCodeInputChange()" />

                        <button *ngIf="barcodeControl.value" class="btn btn-success btn-sm mr-2" (click)="addBarcode()">
                          <img src="/assets/images/check-icon-white.png" alt="Add" width="20" />
                        </button>

                        <button *ngIf="selectedBarcode" class="btn btn-danger btn-sm" (click)="removeSelectedBarcode()">
                          <img src="/assets/images/cross-icon-white.png" alt="Delete" width="20" />
                        </button>
                      </div>

                      <ul class="list-group mt-3">
                        <li *ngFor="let barcode of barcodeList" class="list-group-item list-group-item-action"
                          [class.active]="barcode === selectedBarcode" (click)="selectBarcode(barcode)">
                          {{ barcode.BarCode }}
                        </li>
                      </ul>

                    </div>

                  </div>
                </div> -->


        <div class="card mt-3">
          <div class="card-body row justify-content-center">

            <!-- Barcode Input and List Section -->
            <div class="col-md-6 border border-info p-3 rounded">

              <!-- Input and Action Buttons -->
              <div class="form-group d-flex align-items-center">
                <input class="form-control mr-2" [formControl]="barcodeControl" placeholder="بارکد جدید"
                  (input)="onBarCodeInputChange()" (keyup.enter)="barcodeControl.value && addBarcode()" />

                <!-- Add Button: Visible only when the input field has a value -->
                @if (barcodeControl.value) {
                <button class="btn btn-success btn-sm mr-2" (click)="addBarcode()">
                  <img src="/assets/images/check-icon-white.png" alt="Add" width="20" />
                </button>
                }

                <!-- Delete Button: Visible only when a barcode is selected -->
                @if (selectedBarcode) {
                <button class="btn btn-danger btn-sm" (click)="removeSelectedBarcode()">
                  <img src="/assets/images/cross-icon-white.png" alt="Delete" width="20" />
                </button>
                }
              </div>

              <!-- Barcode List -->
              <ul class="list-group mt-3">
                @for (barcode of barcodeList(); track barcode) {
                <li class="list-group-item list-group-item-action" [class.active]="barcode === selectedBarcode"
                  (click)="selectBarcode(barcode)">
                  {{ barcode.BarCode }}
                </li>
                }
              </ul>

            </div>

          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="barcode_dialog_close()">بستن</button>
        <button type="button" class="btn btn-primary" (click)="SetBarCode()">ثبت</button>

      </div>
    </div>
  </div>
</div>