<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">


      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-detail']">پنل سفارشگیر</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-customer']"> customer
          سفارشگیر</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active " data-bs-toggle="pill" [routerLink]="['/application/order-setting']"> تنظیمات
          سفارشگیر</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active" role="tabpanel">






        <!-- begin::Column -->
        <div class="row my-5">
          <div class="row">
            <div class="col-4 ">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label ">ساختن تنظیم جدول:</span>
              </h3>
            </div>
            <div class="col-md-3" *ngIf="BasketColumns.length>1">
              <span class="input-group-btn">
                <button class="btn btn-warning text-white" type="button"
                  [routerLink]="['/application/order-column']">اصلاح تنظیم جدول </button>

              </span>
            </div>
            <div class="col-md-3" *ngIf="BasketColumns.length<1">
              <span class="input-group-btn">
                <button class="btn btn-success text-white" type="button" (click)="CreateAppBasketColumn()">ایجاد تنظیم
                  جدول</button>

              </span>
            </div>
            <div class="col-md-2">
              <p>
                {{AppBasketColumn_Status}}
              </p>
            </div>

          </div>

        </div>
        <!-- End::Column -->



        <!-- begin::DBSetup -->
        <div>
          <!-- begin::header Table  -->
          <div class="row mt-5 mb-3">
            <div class="col-4 ">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label ">تنظیمات پایه نرم افزار:</span>
              </h3>
            </div>
          </div>
          <!-- End::header Table  -->
          <!-- begin::Table container -->
          <div class="table-responsive">

            <table class="table table-bordered align-middle gs-0 gy-4">
              <thead>
                <tr class="fw-bolder ">
                  <th class="min-w-125px"></th>
                  <th class="min-w-125px">ردیف</th>
                  <th class="min-w-125px">عنوان</th>
                  <th class="min-w-50px">مقدار</th>
                  <th class="min-w-125px">شرح</th>
                  <th class="min-w-125px">گروه </th>
                  <th class="min-w-50px">فعالیت</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of items; let i = index">
                <tr>
                  <td>{{ i+1 }}</td>
                  <td>{{ item.KeyId }}</td>
                  <td>{{ item.KeyValue }}</td>
                  <td>{{ item.DataValue }}</td>
                  <td>{{ item.Description }}</td>
                  <td>{{ item.SubSystem }}</td>
                  <!-- <td>
                    <button [cModalToggle]="verticallyCenteredModal.id" (click)="SelectDbSetup(i)" cButton>
                      تغییر</button>
                  </td> -->
                  <td>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                      data-bs-target="#verticallyCenteredModal" (click)="SelectDbSetup(i)">
                      تغییر
                    </button>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- end::Table container -->
        </div>
        <!-- end::DBSetup -->


        <!-- begin::printer -->
        <div>
          <!-- begin::header Table  -->

          <!-- <c-row class="justify-content-between my-3">
            <c-col xs="4">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label ">لیست پرینتر های تعریف شده:</span>
              </h3>
            </c-col>
            <c-col xs="4">
              <button class="btn btn-success text-white" type="button" [cModalToggle]="printerModal.id"
                (click)="CreateprinterRecord()">ایجاد پرینتر جدید</button>
            </c-col>
          </c-row> -->

          <div class="row justify-content-between my-3">
            <div class="col-md-4">
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label">لیست پرینتر های تعریف شده:</span>
              </h3>
            </div>
            <div class="col-md-4">
              <button class="btn btn-success text-white" type="button" data-bs-toggle="modal"
                data-bs-target="#printerModal" (click)="CreateprinterRecord()">ایجاد پرینتر جدید</button>
            </div>
          </div>


          <!-- End::header Table  -->
          <!-- begin::Table container -->
          <div class="table-responsive ">

            <table class="table table-bordered align-middle gs-0 gy-4">
              <thead>
                <tr class="fw-bolder ">
                  <th class="min-w-10px"></th>
                  <th class="min-w-125px">نام سیستمی پرینتر</th>
                  <th class="min-w-125px">شرح</th>
                  <th class="min-w-50px">گروه نمایشی</th>
                  <th class="min-w-125px">شرط نمایش</th>
                  <th class="min-w-50px">تعداد پرینت</th>
                  <th class="min-w-50px">فعال /غیرفعال</th>
                  <th class="min-w-50px">فعالیت</th>

                </tr>
              </thead>
              <tbody *ngFor="let item of Printers; let i = index">
                <tr>
                  <td>{{i}}</td>
                  <td>{{ item.PrinterName }}</td>
                  <td>{{ item.PrinterExplain }}</td>
                  <td>{{ item.GoodGroups }}</td>
                  <td>{{ item.WhereClause }}</td>
                  <td>{{ item.PrintCount }}</td>
                  <td>{{ item.PrinterActive }}</td>
                  <!-- <td>
                    <button [cModalToggle]="printerModal.id" (click)="SelectPrinter(i)" cButton>
                      تغییر</button>
                  </td> -->
                  <td>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#printerModal"
                      (click)="SelectPrinter(i)">
                      تغییر
                    </button>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- end::Table container -->
        </div>
        <!-- end::printer -->






      </div>

    </div>
  </div>
</div>


<!-- 
<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>تنظیمات پایه</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-row class="mb-3">
      <label [sm]="2" cCol cLabel="col" for="staticEmail" class="mx-1">
        شرح
      </label>
      <c-col [sm]="9">
        <input cFormControl id="staticEmail" plaintext readonly type="text" value="{{selected_des}}" />
      </c-col>
    </c-row>

    <c-row class="mb-3">
      <label cLabel="col" class="col-sm-2" for="inputPassword">
        مقدار
      </label>
      <c-col [sm]="10">

        <input cFormControl placeholder="{{selected_value}}" type="text" [(ngModel)]="selected_value"
          [ngModelOptions]="{ standalone: true }" />
      </c-col>
    </c-row>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="UpdateDbSetup()">update</button>
  </c-modal-footer>
</c-modal> -->

<div class="modal fade" id="verticallyCenteredModal" tabindex="-1" aria-labelledby="verticallyCenteredModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verticallyCenteredModalLabel">تنظیمات پایه</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">شرح</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ selected_des }}">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">مقدار</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword" placeholder="{{ selected_value }}"
              [(ngModel)]="selected_value">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
        <button type="button" class="btn btn-primary" (click)="UpdateDbSetup()">به‌روزرسانی</button>
      </div>
    </div>
  </div>
</div>



<!-- 
<c-modal #printerModal alignment="center" size="lg" id="printerModal">
  <c-modal-header>
    <h5 cModalTitle>جزییات پرینتر</h5>
    <button [cModalToggle]="printerModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>


    <form cForm cRow ngNativeValidate>



      <c-row class="mb-3">
        <label cLabel="col" class="col-sm-2" for="inputPassword"> نام سیستمی پرینتر</label>
        <c-col [sm]="10">
          <input cFormControl type="text" required [(ngModel)]="PrinterName" [ngModelOptions]="{ standalone: true }"
            dir="ltr" />
          <c-form-feedback [valid]="false"></c-form-feedback>
        </c-col>
      </c-row>
      <c-row class="mb-3">
        <label cLabel="col" class="col-sm-2" for="inputPassword"> شرح</label>
        <c-col [sm]="10"> <input cFormControl type="text" [(ngModel)]="PrinterExplain"
            [ngModelOptions]="{ standalone: true }" />
        </c-col>
      </c-row>

      <c-row class="mb-3">
        <label cLabel="col" class="col-sm-2" for="inputPassword"> گروه نمایشی</label>
        <c-col [sm]="10">
          <input cFormControl type="text" [(ngModel)]="GoodGroups" [ngModelOptions]="{ standalone: true }" />
        </c-col>
      </c-row>


      <c-row class="mb-3">
        <label cLabel="col" class="col-sm-2" for="inputPassword"> شرط نمایش</label>
        <c-col [sm]="10">
          <input cFormControl type="text" [(ngModel)]="WhereClause" [ngModelOptions]="{ standalone: true }" />
        </c-col>
      </c-row>

      <c-row class="mb-3">
        <label cLabel="col" class="col-sm-2" for="inputPassword"> تعداد پرینت</label>
        <c-col [sm]="10">
          <input cFormControl type="text" [(ngModel)]="PrintCount" [ngModelOptions]="{ standalone: true }" />
        </c-col>
      </c-row>


      <c-row class="mb-3">
        <label cLabel="col" class="col-sm-2" for="inputPassword">فعال /غیرفعال</label>
        <c-col [sm]="10">
          <input cFormControl type="text" [(ngModel)]="PrinterActive" [ngModelOptions]="{ standalone: true }" />
        </c-col>
      </c-row>

      <c-row class="mb-3">
        <label cLabel="col" class="col-sm-2" for="inputPassword"> آدرش فایل طراحی</label>
        <c-col [sm]="10">
          <input cFormControl type="text" [(ngModel)]="FilePath" [ngModelOptions]="{ standalone: true }" dir="ltr" />
        </c-col>
      </c-row>
      <button cButton class="me-1" color="primary" type="submit" (click)="Updateprinter()">
        ثبت اطلاعات
      </button>
    </form>

  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="printerModal.id" cButton color="secondary">
      بستن
    </button>

  </c-modal-footer>
</c-modal> -->

<div class="modal fade" id="printerModal" tabindex="-1" aria-labelledby="printerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="printerModalLabel">جزییات پرینتر</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" (ngSubmit)="Updateprinter()" ngNativeValidate>
          <div class="col-md-6">
            <label for="inputPrinterName" class="form-label">نام سیستمی پرینتر</label>
            <input type="text" class="form-control" id="inputPrinterName" required [(ngModel)]="PrinterName">
          </div>
          <div class="col-md-6">
            <label for="inputPrinterExplain" class="form-label">شرح</label>
            <input type="text" class="form-control" id="inputPrinterExplain" [(ngModel)]="PrinterExplain">
          </div>
          <div class="col-12">
            <label for="inputGoodGroups" class="form-label">گروه نمایشی</label>
            <input type="text" class="form-control" id="inputGoodGroups" [(ngModel)]="GoodGroups">
          </div>
          <div class="col-12">
            <label for="inputWhereClause" class="form-label">شرط نمایش</label>
            <input type="text" class="form-control" id="inputWhereClause" [(ngModel)]="WhereClause">
          </div>
          <div class="col-md-6">
            <label for="inputPrintCount" class="form-label">تعداد پرینت</label>
            <input type="text" class="form-control" id="inputPrintCount" [(ngModel)]="PrintCount">
          </div>
          <div class="col-md-6">
            <label for="inputPrinterActive" class="form-label">فعال /غیرفعال</label>
            <input type="text" class="form-control" id="inputPrinterActive" [(ngModel)]="PrinterActive">
          </div>
          <div class="col-12">
            <label for="inputFilePath" class="form-label">آدرس فایل طراحی</label>
            <input type="text" class="form-control" id="inputFilePath" [(ngModel)]="FilePath">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>