<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill">


      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-detail']">پنل سفارشگیر</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-good']"> مدیریت آیتم </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-customer']">
          حساب پرسنل</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-bs-toggle="pill" [routerLink]="['/application/order-report']"> گزارش </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active " data-bs-toggle="pill" [routerLink]="['/application/order-setting']"> تنظیمات
          سفارشگیر</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active" role="tabpanel">

        <div class="card">
          <h5 class="card-header">ساختن تنظیم جدول</h5>
          <div class="card-body">
            <div class="card-body">
              <h5 class="card-title">ایجاد فیلد های مورد نیاز برای نمایش در نرم افزار های قابل استفاده</h5>

              <h5 *ngIf="BasketColumns.length<1" class="card-text">{{AppBasketColumn_Status}}</h5>
              <a *ngIf="BasketColumns.length>0" [routerLink]="['/application/broker-column']"
                class="btn btn-primary">اصلاح تنظیم جدول</a>

              <a *ngIf="BasketColumns.length<1" (click)="CreateAppBasketColumn()" class="btn btn-primary">ایجاد تنظیم
                جدول</a>
            </div>
          </div>
        </div>





        <div class="mt-5">
          <h4 class="fw-bold mb-3">تنظیمات پایه نرم‌افزار:</h4>

          <div class="table-responsive">
            <ag-grid-angular #agGrid id="myGrid" style="height: 600px; width: 100%" class="ag-theme-alpine-dark"
              [rowData]="items" [columnDefs]="columnDefs" [modules]="modules" [localeText]="localeText"
              [enableRtl]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"
              [pagination]="true" [context]="context" [defaultColDef]="defaultColDef"
              [frameworkComponents]="frameworkComponents" [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
              (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>
          </div>
        </div>

        <!-- بخش پرینترها -->
        <div class="mt-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="fw-bold">لیست پرینترهای تعریف شده:</h4>
            <button class="btn btn-outline-success rounded-pill" type="button" data-bs-toggle="modal"
              data-bs-target="#printerModal" (click)="CreateprinterRecord()">
              ایجاد پرینتر جدید
            </button>
          </div>

          <div class="table-responsive">
            <ag-grid-angular #agGrid id="myGrid" style="height: 400px; width: 100%" class="ag-theme-alpine-dark"
              [rowData]="Printers" [columnDefs]="columnDefs1" [modules]="modules" [localeText]="localeText"
              [enableRtl]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"
              [pagination]="true" [context]="context" [defaultColDef]="defaultColDef"
              [frameworkComponents]="frameworkComponents" [suppressRowClickSelection]="true" [rowSelection]="'multiple'"
              (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>
          </div>
        </div>




      </div>

    </div>
  </div>
</div>




<div class="modal fade" id="orderdbsetup" tabindex="-1" aria-labelledby="orderdbsetupLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="orderdbsetupLabel">تنظیمات پایه</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="orderdbsetup_Modal_Response_close()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">شرح</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ selected_des }}">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">مقدار</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword" placeholder="{{ selected_value }}"
              [(ngModel)]="selected_value">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="orderdbsetup_Modal_Response_close()">بستن</button> <button type="button" class="btn btn-primary"
          (click)="UpdateDbSetup()">به‌روزرسانی</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" #printerModal id="printerModal" tabindex="-1" aria-labelledby="printerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #d1dce7;">
      <div class="modal-header" style="background-color: #949494;">
        <h5 class="modal-title" id="printerModalLabel">جزییات پرینتر</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="printerModal_Modal_Response_close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditForm_printer" (submit)="Updateprinter()">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body row">

                  <div class="form-group col-md-6">
                    <label for="PrinterName" class="col-form-label">نام پا ادرس چاپگر</label>
                    <input type="text" class="form-control" id="PrinterName" formControlName="PrinterName"
                      maxlength="400" autocomplete="off" />
                  </div>

                  <div class="form-group col-md-6">
                    <label for="PrinterExplain" class="col-form-label">توضیحات چاپگر</label>
                    <input type="text" class="form-control" id="PrinterExplain" formControlName="PrinterExplain"
                      maxlength="400" autocomplete="off" />
                  </div>

                  <div class="form-group col-md-6">
                    <label for="GoodGroups" class="col-form-label">کد گروه برای چاپگر</label>
                    <input type="text" class="form-control" id="GoodGroups" formControlName="GoodGroups" maxlength="400"
                      autocomplete="off" />
                  </div>


                  <div class="form-group col-md-6">
                    <label for="WhereClause" class="col-form-label">شرط چاپگر</label>
                    <input type="text" class="form-control" id="WhereClause" formControlName="WhereClause"
                      maxlength="400" autocomplete="off" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="PrintCount" class="col-form-label">تعداد چاپ </label>
                    <input type="text" class="form-control" id="PrintCount" formControlName="PrintCount" maxlength="400"
                      autocomplete="off" />
                  </div>

                  <div class="form-group col-md-6">
                    <label for="PrinterActive" class="col-form-label">فعال بودن چاپگر</label>
                    <input type="text" class="form-control" id="PrinterActive" formControlName="PrinterActive"
                      maxlength="400" autocomplete="off" />
                  </div>
                  <div class="form-group col-md-12">
                    <label for="FilePath" class="col-form-label">ادرس فایل چاپگر</label>
                    <input type="text" class="form-control" id="FilePath" formControlName="FilePath" maxlength="400"
                      autocomplete="off" />
                  </div>

                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" (click)="Updateprinter()">ثبت اطلاعات</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="printerModal_Modal_Response_close()">بستن</button>
      </div>
    </div>
  </div>
</div>